[2015-04-01 08:31] jasonlewis commented on #388
Can I see your routes file please?

On Wed, 1 Apr 2015 18:29 Lorenc <notifications@github.com> wrote:

[2015-04-01 08:32] zeelorenc commented on #388
Route::api(['version' => 'v1', 'prefix' => 'api'], function()
    {

        // Likes
        Route::get('like/{id}', array('as' => 'api.like', 'uses' => 'API\LikeController@like', 'before' => 'auth'));
    }

There you go

[2015-04-01 09:01] kevindierkx commented on #387
This should be resolved with the following: #374

[2015-04-01 09:01] #387 closed

[2015-04-01 21:39] Quagh commented on #350
Having the same issue. What's the situation?

[2015-04-02 13:43] Ortix92 commented on #385
Well something as simple as this does the trick:

[code]

[2015-04-03 19:10] Ortix92 opened #389 "How do I fire a internal delete request?"
I get `MethodNotAllowedException` if I do this:

[code]

but it works when I do this:

[code]

Do I have to pass in the id in there instead of the `1`?

[2015-04-04 07:21] bweston92 commented on #389
This is because your routes setup doesn't have a handler for the following in the Api route group:

Route::delete('screenshots', 'handler');

—
Sent from Mailbox

On Fri, Apr 3, 2015 at 8:10 PM, Nick <notifications@github.com> wrote:

[2015-04-07 17:43] jameswagoner commented on #385
Returning an array will format the response into whatever format you have setup. Eloquent models get converted just as if you use `Response::json()`

[2015-04-07 20:39] bweston92 commented on #213
@jasonlewis do you have a plan for L5? As stated above it is pretty much a re-write on the routing section, I'm wondering if you've figured something out mentally?

[2015-04-07 21:13] kharysharpe commented on #213
@jasonlewis This is exactly what i am looking for for my next project, how is the progress for Laravel 5 coming along?.

Based on what I have read maybe the next release should be "version 2" and create upgrade steps similar to what you need to do from Laravel 4.2 to 5.0.

Also have you considered the middleware for routing like what @kennonb suggested here - https://gist.github.com/kennonb/97ef0f

[2015-04-08 10:57] Omranic commented on #213
This package is a piece of art, thanks @jasonlewis.
**Is there any news about the updated version v2, or at least simple compatibility with Laravel 5** ?

[2015-04-08 12:03] tomvo commented on #388
I noticed this error as well after an upgrade, must be something that got left behind. Any clue on where to look?

[2015-04-10 02:51] randomdrake commented on #388
Not upgrading, simply trying to use for the first time. Get the same error.

Downgraded from 0.8.* to 0.8.2 and it works just fine.

[2015-04-13 13:46] cameron-fgx opened #390 "How do I globally change the error response format?"
Currently all error responses are returned as:

[code]

How can I configure this to be wrapped in an error tag, i.e.

[code]

without having to create a Custom Exception Responses for each possible exception?

[2015-04-13 19:35] Quagh commented on #388
Just upgraded from 0.8.2, same issue.

[2015-04-14 13:58] devmark opened #391 "lumen"
I look forward to hearing about lumen with dingo/api   :)

[2015-04-14 17:48] tristanpemble commented on #391
Background: [Lumen](http://lumen.laravel.com/) is a micro framework (think Silex, Slim) that was just announced by the Laravel team that is based off of the Illuminate libraries that Laravel is built on. Of note is that it provides a fairly trivial upgrade path from Lumen to Laravel, giving development teams flexibility as their application grows.

I am also interested to know if or how dingo/api

[2015-04-14 17:50] kevindierkx commented on #391
Lumen doesn't support packages, would be kinda hard to make dingo compatible without rewriting allot of bootstrapping.

[2015-04-14 18:55] GrahamCampbell commented on #391
Lumen does support packages. There's nothing special about a "package". Any repo on composer can be used in lumen just as in laravel. We just don't ship with all the publishing commands, but you can absolutely still get existing laravel packages to work. The services providers in luman are identical - they use the same illuminate component...

[2015-04-14 19:18] kevindierkx commented on #391
Well in that case I must have misunderstood the limitations part on this page: http://lumen.laravel.com/docs/introduction#when-should-i-use-lumen

[2015-04-14 20:22] GrahamCampbell commented on #391
@kevindierkx Right, what that's meaning is that if you want to use packages, you should probably choose laravel over lumen, but packages are still technically possible in lumen. Laravel is just the easier ride there. Lumen is fast because it's minimal. If you want packages, it's likely minimal is not for you. Just use laravel.

[2015-04-14 21:07] bweston92 commented on #391
I must say though implementing Lumen with Fractal transformers ect would be nice.

—
Sent from Mailbox

On Tue, Apr 14, 2015 at 9:22 PM, Graham Campbell <notifications@github.com>
wrote:

[2015-04-14 21:38] foxted commented on #391
Why not just pull [Fractal](https://github.com/thephpleague/fractal) with composer and build your own transformers?
And why not pulling [OAuth2 Server](https://github.com/thephpleague/oauth2-server) and build your own authentication?

I agree with @GrahamCampbell if you want to use packages, just use Laravel.

[2015-04-14 22:32] tristanpemble commented on #391
I'm in favor of pulling some of the features that exist within this library out into separate dependencies and letting this act as the all-in-one Laravel focused package, while letting Lumen users pull in whichever pieces they wish

[2015-04-15 00:57] AndyWendt commented on #391
I think people just like to try to use whatever is new and see how it works.  I'm guilty often :smile:

[2015-04-15 07:47] bweston92 commented on #391
@foxted I like the response builder too. Also anything on composer is really a "package" in some form or another, isn't like if you use Lumen you're just going to keep your composer dependencies empty (apart from default of-course).

[2015-04-16 07:17] furey-imagination commented on #12
Is it possible to generate a URL for a **dingo/api** named route?

I've named an API route `'api.orders.show'`, and I can confirm that name was assigned by seeing it returned via `php artisan api:routes`.

When trying to generate the named route's URL via Laravel's `route()` helper, `Dingo\Api\Routing\UrlGenerator` throws an `InvalidArgumentException`:

    "Route [api.orders.show] not defined"

A

[2015-04-17 09:30] bweston92 commented on #213
@jasonlewis would it be best for users (maybe even some Laravel 5 users) to help have a brain storming discussion on how this might be best implemented? I really want to make the switch.

[2015-04-17 18:12] mattkenefick commented on #213
+1

[2015-04-17 18:44] tomschlick commented on #213
+1 for brainstorming session on this. I'm willing to contribute in any way I can once the migration plan is decided upon.

[2015-04-18 07:29] thiagof commented on #213
+1 for a roadmap

[2015-04-18 11:10] bweston92 commented on #213
Ok should we open it as a new issue? So it's easier to read and stays on topic.

—
Sent from Mailbox

On Sat, Apr 18, 2015 at 8:29 AM, Thiago Fernandes
<notifications@github.com> wrote:

[2015-04-19 11:00] crynobone commented on #213
Is it the same case for Lumen Framework?

[2015-04-19 11:37] jasonlewis commented on #213
@crynobone, more so in Lumen. I've been in touch with T about it all. May be able to work something out.

No good news yet though folks. I'm happy for people to brainstorm ideas and try out some things. I'll hopefully get a little time during the week once I've got some client work out of the way to see if I can get something to work.

[2015-04-19 15:34] JavierMartinz commented on #213
+1

[2015-04-19 15:35] GrahamCampbell commented on #213
Lumen doesn't use Laravel's routing. It uses fast route.

[2015-04-19 21:04] jasonlewis commented on #213
Indeed Graham. But it's all tied directly into the application.

On Mon, 20 Apr 2015 at 01:35 Graham Campbell <notifications@github.com>
wrote:

[2015-04-19 23:14] nathanmarks commented on #213
As someone who's new to Laravel and currently using L5 for an API, what are the reasons why the router presents an issue?

[2015-04-19 23:37] thiagof commented on #213
If the router can't be replaced only a fork would keep some compatibility..
right?

A package rewrite can't redesign the functionalities for L5?

2015-04-19 20:14 GMT-03:00 nathanmarks <notifications@github.com>:

--
*Thiago Fernandes*
Analista de Processos
34 9176- 4055 | thiago@internetbudi.com.br

[2015-04-19 23:49] jakecarlson commented on #213
+1 for Lumen compatibility, but I assume this is somewhat out of your hands as at least some dependencies must also be Lumen-compatible (e.g., Oauth2 server).

[2015-04-20 01:27] AndyWendt commented on #213
@nathanmarks I believe the router needs to be replaced because that is how he is adding his extra Router functionality.  See [the Dingo Router class](https://github.com/dingo/api/blob/master/src/Routing/Router.php) and the [Laravel one](https://github.com/illuminate/routing/blob/master/Router.php)

[2015-04-20 01:39] nathanmarks commented on #213
@AndyWendt Thanks! I've actually used a combination of middleware and a controller abstract along with [fractal](https://github.com/thephpleague/fractal) to create my API. Could a similar approach be used here rather than trying to add functionality to the router itself?

[2015-04-20 02:01] AndyWendt commented on #213
@nathanmarks To version the L5 apis that I am working on currently, I am getting the version from the accept header (using helper classes of course) and using an `if` statement inside the `routes` file to control which controllers are loaded.

You can use a route group inside the `if` statements to apply middlewares etc.

 I have an ApiFacade (actual facade pattern not laravel facade) object that

[2015-04-20 02:34] Braunson commented on #350
+1 Having the same issue as well.

[2015-04-20 03:34] kodeine commented on #213
@nathanmarks, you mind sharing what you've done with your api?

[2015-04-20 06:46] bweston92 commented on #213
Some internal requests functionality was handled by router as well I believe for returning "raw" responses.

—
Sent from Mailbox

On Mon, Apr 20, 2015 at 4:35 AM, Kodeine <notifications@github.com> wrote:

[2015-04-20 06:48] bweston92 commented on #350
Can you explain why an API is redirecting anyway?

—
Sent from Mailbox

On Mon, Apr 20, 2015 at 3:34 AM, Braunson Yager <notifications@github.com>
wrote:

[2015-04-20 12:40] nathanmarks commented on #213
@kodeine Unfortunately I can't release the source for the app right (work stuff), but if you have some specific questions I can definitely answer them. Perhaps at some point I'll do a write up as others using L5 for an API may find it useful.

[2015-04-20 14:24] Quagh commented on #350
@bweston92 For linking an external OAuth account (Google, MSLive), we need to know the API user by its API OAuth credentials, then redirect to the appropriate service, redirect back and link the external account to the current user. That involves multiple redirects, and those routes have to be in a Dingo/api API group.

[2015-04-20 14:46] bweston92 commented on #350
@Ortix92 It doesn't, it only happens in an `api` router group. Which actually is extra functionality that is available by the package to create specific to api end-points. If you don't use the `api` router group it works there-fore not breaking "standard" Laravel code.

[2015-04-20 15:13] Quagh commented on #350
Yeah, but there's hardly a way to get the API user when using a regular route. So if the combination occurs, using a redirect does not work.

[2015-04-20 19:20] twoSeats commented on #213
There's an example of an api in lumen using Fractal here for anyone interested:
https://github.com/laravelista/Lissandra

[2015-04-21 16:14] geofflancaster opened #392 "duplicate named routes with different version"
Is it possible to have multiple routes with the same name/url that are routed appropriately based on the version specified?

It looks like the last route that is defined is used regardless of version.

[2015-04-21 21:29] jrm2k6 commented on #382
I still have the same issue.
dingo: 0.8.*dev
jwt-auth: 0.4.2

Should I downgrade to 0.4.1?
What do you mean by 'don't use the provided filter'?

[2015-04-22 07:14] Gtskk commented on #270
Issue with "stevemo/cpanel": "dev-master"

[2015-04-23 03:58] Naranbat1123 opened #394 "jsonp_callback"
http://example.com/api/ss?callback=JSON_CALLBACK

i need jsonp_callback some example some one help

[2015-04-23 04:11] Naranbat1123 commented on #394
Route::get("/test", function(){
    $test = [];
    for($i=0; $i<100; $i++){
        $test[$i] = new \stdClass();
        $test$i]->nane = "Hi".$i;
    }
    return Response::json(["test"=>$test])->setCallback(Input::get('callback'));
 });

to

Route::api(['version' => 'v1', 'prefix' => 'api', 'before' => ''], function () {

    Route::get("/test", function(){
        $test = [];
        for($i=0;

[2015-04-23 13:34] LeeMcNeil commented on #388
+1 same issue after upgrading from 0.8.2 to 0.8.3

[2015-04-24 09:24] tomvo commented on #394
Use the JSONP response format: https://github.com/dingo/api/wiki/Responses#custom-response-formats

[2015-04-24 09:33] vinkla commented on #213
+1 for getting Laravel 5 support done.

[2015-04-27 07:59] #394 closed

[2015-04-27 08:00] Naranbat1123 commented on #394
my fault

[2015-04-28 07:31] cameron-fgx commented on #390
Any news on this?

[2015-04-28 07:53] gerardnll commented on #388
I get this error when i've got a route in the api endpoint with the same name as in the web endpoint.
[code]
Breaks on version 0.8.3. works on 0.8.2

[2015-04-30 01:09] rodrigobendia opened #395 "Error executing 'php artisan config:publish dingo/api'"
I'm getting the following error when executing **php artisan config:publish dingo/api**:

[code]
It seems that the **package** method was removed from the **ServiceProvider** in Laravel 5.

[2015-04-30 01:40] rodrigobendia commented on #211
This error persists after L5 release.

[2015-04-30 05:17] soonkin commented on #395
This package is not compatible with L5 yet, please take  a look at the Wiki

[2015-04-30 07:50] GrahamCampbell commented on #211
Yes, L5 is NOT supported.

[2015-04-30 16:25] rodrigobendia commented on #395
I know it's not compatible. Just though it would be helpful to make it
compatible...

Em Qui, 30 de abr de 2015 02:17, Soon Ya Kin <notifications@github.com>
escreveu:

[2015-04-30 16:29] vinkla commented on #395
@rodrigobendia Please see [Regarding L5: Read before posting an issue!](https://github.com/dingo/api/issues/213).

[2015-05-01 05:58] sahilsarpal commented on #213
+1 for getting l5 support @jasonlewis

[2015-05-01 06:00] jasonlewis commented on #213
I know, I know.

On Fri, 1 May 2015 15:58 Sahil Sarpal <notifications@github.com> wrote:

[2015-05-03 05:42] jasonlewis commented on #390
You can't at the moment. I'll work on something for the L5/Lumen version.

[2015-05-03 05:42] #390 closed

[2015-05-03 05:43] #389 closed

[2015-05-03 05:43] jasonlewis commented on #392
Not possible currently. Will look into something for L5/Lumen release.

[2015-05-03 05:43] #392 closed

[2015-05-03 14:30] nathanmarks commented on #213
@jasonlewis If you're able to open some specific issues pertaining to functionality that needs working on for L5, I'm sure some of us will be able to help contribute. Have you decided yet on the direction you're going to take?

[2015-05-04 21:02] geofflancaster commented on #392
Can you elaborate on how we should be using routes and versions in the current version? What good is a versioning system if you cannot share URLs between versions?

[2015-05-04 21:46] jasonlewis commented on #392
You can share URLs between versions in the current setup. You just can't
share names because of how the router does the names. Hopefully with the
way I'm setting it up I'll be able to get around that.

On Tue, 5 May 2015 07:02 Geoff Lancaster <notifications@github.com> wrote:

[2015-05-06 18:13] BardiaAfshin opened #396 "doesn't play nice with laravel 5.0.28"
here's a dump of my composer install command in my laravel 5.0.28 project

Will dingo/api support laravel 5.0.28 anytime soon? I kinda need this now.

[code]

[2015-05-06 18:18] fabianweb commented on #396
It doesn't support L5 yet. See #213

[2015-05-06 18:27] BardiaAfshin commented on #213
+1 throwing in my plus one. What's the ETA on this?

[2015-05-08 17:25] ghprod commented on #189
wait for develop branch become stable for L5 .. :+1:

[2015-05-11 12:44] SimonErich commented on #213
@jasonlewis I know you here this a lot, but what if we worked on a "simpler" version of dingo, without the routing (maybe using middleware and traits) to build similar functionality and if possible introduce automatic route handling later as an additional option.
dingo is going to change, I think that is for sure now, but maybe we can slim it down first and only get the most important things worki

[2015-05-11 12:48] jasonlewis commented on #213
There isn't really a simpler version without routing. It needs routing.

Don't stress I've got a few things in the pipeline but I'm waiting to hear
back from Taylor about a couple things. I'm not going to say an ETA but it
shouldn't be long now.

On Mon, 11 May 2015 22:44 Simon Auer <notifications@github.com> wrote:

[2015-05-11 12:52] stygiansabyss commented on #213
Might try popping into LaraChat slack.  He is frequently on line in there.

[2015-05-11 12:54] jasonlewis commented on #213
No he's aware. He'll get to it when he can. All is well. :-)

On Mon, 11 May 2015 22:53 Stygian <notifications@github.com> wrote:

[2015-05-11 13:26] twoSeats commented on #213
@jasonlewis your patience with all the "banging on the door" is inspiring. Kudos. Thanks for the updates.

[2015-05-12 22:13] kabelo38 opened #397 "Route problems"
I am getting this from my log file can someone point me to the right direction plz

[2015-05-12 22:05:43] production.ERROR: exception 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException' in C:\xampp\htdocs\api\bootstrap\compiled.php:5738
Stack trace:
#0 C:\xampp\htdocs\api\bootstrap\compiled.php(5060): Illuminate\Routing\RouteCollection->match(Object(Illuminate\Http\Request))
#1 C:\xampp

[2015-05-13 04:47] camilstaps commented on #397
You're giving your Route the name of a function. For resource routes you should give it only the class: http://laravel.com/docs/4.2/controllers#restful-resource-controllers

[2015-05-13 15:22] Quagh commented on #304
@jasonlewis Somehow it doesn't work anymore? Using `ControllerTrait`, but `$this->auth` is empty in constructor.

v0.8.2.

[2015-05-14 00:03] jasonlewis commented on #304
It will always be empty in the constructor. It's not set until after the
controller is instantiated. You'll need to manually type hint and inject it
if you want it earlier.

On Thu, 14 May 2015 at 01:22 Sebastiaan Luca <notifications@github.com>
wrote:

[2015-05-14 00:07] Quagh commented on #304
Yeah, as always I figured out the flow after I posted my message :) I was able to inject it, but then I understood that only once a user accesses a controller method the authorizer could know if it was protected or not.

[2015-05-14 00:11] jasonlewis commented on #304
Also true. :-)

On Thu, 14 May 2015 at 10:07 Sebastiaan Luca <notifications@github.com>
wrote:

[2015-05-14 13:39] #396 closed

[2015-05-17 00:27] jasonlewis commented on #391
Please see #213 for updates.

[2015-05-17 00:27] #391 closed

[2015-05-17 00:37] #213 closed

[2015-05-17 00:38] jasonlewis opened #398 "Lumen AND Laravel 5 Support"
Hello all, I've recently pushed quite a number of changes to the `develop` branch that allows you to use this package in your Lumen and Laravel 5 apps.

You can require it using `0.9.*@dev`.

Please note that if you're using Lumen you'll need to be using `lumen-framework 5.0.*@dev` for it to work correctly. These several routing changes that are yet to make it to a stable Lumen release.

A few thi

[2015-05-17 00:39] jasonlewis commented on #213
Discussion moving to #398.

[2015-05-17 00:40] jasonlewis commented on #379
This has been fixed in the latest changes for Laravel 5 and Lumen. Sorry it took so long.

[2015-05-17 00:40] #379 closed

[2015-05-17 00:40] jasonlewis commented on #388
Sorry guys but I'm no longer supporting Laravel 4.x going forward. Have to focus my attention on L5 and Lumen.

[2015-05-17 00:40] #388 closed

[2015-05-17 00:41] #397 closed

[2015-05-17 00:41] #381 closed

[2015-05-17 00:41] #385 closed

[2015-05-17 00:42] jasonlewis commented on #363
I'm no longer supporting Laravel 4.x. Try this in either Lumen or Laravel 5 and report back if there's still issues. Cheers mate.

[2015-05-17 00:42] #363 closed

[2015-05-17 00:43] jasonlewis commented on #375
This should be fixed for the L5 and Lumen version.

[2015-05-17 00:43] #375 closed

[2015-05-17 00:43] jasonlewis commented on #307
No longer supporting L4.x. At this time L5 and Lumen will not have a URL generator. It will be coming though.

[2015-05-17 00:43] #307 closed

[2015-05-17 00:44] jasonlewis commented on #270
The latest `0.9.*@dev` version for Laravel 5 and Lumen *should* no longer conflict with other packages.

[2015-05-17 00:44] #270 closed

[2015-05-17 00:45] jasonlewis commented on #395
Will work with Laravel 5 now. Use the `vendor:publish` method.

[2015-05-17 00:45] #395 closed

[2015-05-17 00:45] #358 closed

[2015-05-17 00:45] #346 closed

[2015-05-17 02:48] develpr commented on #398
<3 Thank you Jason!

[2015-05-17 03:15] alwaysanirudh commented on #358
The latest ``dev-master`` is working as expected but ``0.8.*@dev`` still has the bug.

[2015-05-17 05:00] jinqibu commented on #398
thanks a lot!

[2015-05-17 06:13] devmark commented on #398
thanks!

[2015-05-17 07:27] bweston92 commented on #398
Happiest day of my life. Can't wait for work tomorrow aha!!

—
Sent from Mailbox

On Sun, May 17, 2015 at 7:13 AM, Mark <notifications@github.com> wrote:

[2015-05-17 07:31] akhedrane commented on #398
Thank you.
can we use one routing syntax in both illuminate & fastroute?

[2015-05-17 07:32] jasonlewis commented on #398
Correct. All routing methods are available for both Lumen and L5.

On Sun, 17 May 2015 17:31 Atallah khedrane <notifications@github.com> wrote:

[2015-05-17 07:52] irazasyed commented on #398
Awesome Jason, Thanks :+1:

[2015-05-17 08:54] jasonlewis commented on #398
Update. All routing methods now work in Lumen. There were issues with resource and controller routes that have now hopefully be resolved. :smile:

[2015-05-17 09:48] akhedrane opened #399 "Installing provider"
to install in L5 should add LaravelServiceProvider to providers list right.
once appended provider, whole app was broken.

what wrong?

[2015-05-17 09:49] jasonlewis commented on #399
Yes, that's correct. Add the provider in your `app.php` config file.

Can you please explain what is broken exactly. It's hard to guess without seeing any error reports.

[2015-05-17 09:53] akhedrane commented on #399
i set debug to true but no error returned just a empty response.
all routes not work.

[2015-05-17 10:01] jasonlewis commented on #399
Can you show me some sample code? Is this an existing project? Have you tried in a fresh project?

[2015-05-17 10:16] camilstaps commented on #399
I have a similar problem. I'm developing a package which has Dingo as a dependency. In the `register()` of my ServiceProvider, I have:

    $this->app->register('Dingo\Api\Provider\LaravelServiceProvider');

I'm getting the error:

    FatalErrorException in Application.php line 541:
    Class 'Dingo\Api\Provider\LaravelServiceProvider' not found

The same when trying `ApiServiceProvider`.

I'm su

[2015-05-17 10:19] GrahamCampbell commented on #399
Your should never do that. You MUST always use the BOOT method if you're using ANY dependencies. This is true for anything in Laravel.

[2015-05-17 10:22] camilstaps commented on #399
@GrahamCampbell thanks, that did it. I had it in the `register()` because of [this StackOverflow answer](http://stackoverflow.com/a/22749871/1544337).

[2015-05-17 10:27] GrahamCampbell commented on #399
Oh, right. You're registering a service provider in there. Don't do that. Register it in your app.php config file...

[2015-05-17 10:28] GrahamCampbell commented on #399
It's generally a bad practice for packages to register aliases and service providers in a forced way. Just give your package users instructions for what to do, and let them chose what to do. It's possible they want to customise things.

[2015-05-17 10:28] camilstaps commented on #399
@GrahamCampbell Okay, that makes sense. Thank you!

NB: my last post was incorrect, in the `boot()` function I get the same problem.

[2015-05-17 10:30] camilstaps commented on #399
@GrahamCampbell does that also mean I shouldn't mark Dingo as a dependency in my package's composer.json, but in the composer.json of the main laravel project?

[2015-05-17 10:46] GrahamCampbell commented on #399
No, you should include the dependency, but not actually register it in your source code. Leave instructions in your readme.

[2015-05-17 10:46] GrahamCampbell commented on #399
Example: https://github.com/GrahamCampbell/Laravel-Binput.

[2015-05-17 10:49] jasonlewis commented on #399
Regardless, you shouldn't be getting a class not found if you're trying to register it in your provider. You shouldn't need to add anything in terms of autoloading to your `composer.json` file, the file within this package will handle that for you. So you can remove that.

[2015-05-17 11:06] GrahamCampbell commented on #399
@jasonlewis That's probably what's causing the issue in the first pace tbh.

[2015-05-17 11:07] jasonlewis commented on #399
I'm thinking so. I can register it fine in both the `app.php` file and from some other provider.

[2015-05-17 11:38] camilstaps commented on #399
Hm, very strange. I believe I have everything as you say now.

* I'm not registering anything from my own service provider
* In config/app.php I have only added my own service provider and `Dingo\Api\Provider\LaravelServiceProvider` (in that order)
* In the main composer.json, the psr-4 autoloader has `App\` and my own service provider (without, *that* one can't be found) - nowhere am I autoloadin

[2015-05-17 12:01] GrahamCampbell commented on #399
It looks like you've made a mess of this autoloading. Can you post the composer.json of your app and the one of your package please?

[2015-05-17 12:05] camilstaps commented on #399
@GrahamCampbell thanks - here are my files: https://gist.github.com/camilstaps/5d76ec57425d7e8e3075

When I remove the everything but `App` from the psr-4 autoloader of the app, not even my own service provider can be found.

[2015-05-17 12:08] GrahamCampbell commented on #399
Yeh, this is all wrong. Delete all the autoloading crap, then actually require the dependencies you need.

[2015-05-17 13:04] camilstaps commented on #399
@GrahamCampbell but if I'd require it, I can't keep it in the same folder, can I? I would need a different location to store the package and then load it from there. This is my development environment, isn't it possible to not have to `composer update` for every change you make?

[2015-05-17 13:18] GrahamCampbell commented on #399
I literally have no idea what you're talking about?

[2015-05-17 13:19] GrahamCampbell commented on #399
Ohh, I see. You're developing a package and want your changes live straight away. You'd have to rsync the folders after install or something.

[2015-05-17 13:45] bslinger commented on #398
Great work Jason, I've been looking forward to using Dingo for a new project so I'm glad to see this moving forward. Thanks for being patient through the constant storm of 'when is this coming' and '+1' !

[2015-05-17 14:22] akhedrane commented on #399
so i tested some cases? i found that:

- if not add api route the other routes will not work (return empty).
...

[2015-05-17 14:33] akhedrane commented on #399
- when add api route i get this error on all routes:
[code]

[2015-05-17 14:34] camilstaps commented on #399
Since our issues turn out to be unrelated (and mine is merely a non-understanding of Laravel 5 package dev), I opened a question on StackOverflow for me: http://stackoverflow.com/q/30287651/1544337 ( @GrahamCampbell )

Apologies for the inconvenience.

[2015-05-17 19:42] xLink commented on #398
Ah awesome @jasonlewis been waiting for this so I can finish my Base Upgrade :D

Will get it tested out and throw any issues I find back :)

Thanks Dude

[2015-05-17 19:47] moltar commented on #398
How do I use this? It seems like the latest tag is 0.8? Did you forget to push?

[2015-05-17 19:48] vinkla commented on #398
@moltar You can use it with version `0.9.*@dev`.

[2015-05-17 20:34] moltar commented on #398
I get the following error:

[code]

As I had `league/fractal` installed via another package. And even after removing that dep, I still get this error. Any chance just updating `league/fractal` to 0.12?

[2015-05-17 20:44] vinkla commented on #398
@moltar This will be fixed in https://github.com/dingo/api/pull/401.

[2015-05-17 21:51] jasonlewis commented on #399
The API now requires you define either a `prefix` or `domain` in the configuration. If defining a domain you should ensure the only the API is running off of that domain or you'll get conflicts.

[2015-05-18 06:19] vinkla opened #406 "Unable to boot ApiServiceProvider, configure an API domain or prefix"
Then running the `vendor:publish` command I'm getting the following error returned.

[code]

I did solve this by specifying the `API_PREFIX` and `API_DOMAIN` in the environment file. Maybe we should keep default values?

[2015-05-18 06:22] jasonlewis commented on #406
I'll have it not throw the exception under certain circumstances. You do
not need to provide both. Just one or the other.

On Mon, 18 May 2015 16:19 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-18 06:25] vinkla commented on #406
Okay, good. Wouldn't it be better if when the user register the package it wouldn't throw an exception?

[2015-05-18 06:29] jasonlewis commented on #406
It would be but people will try and use it without configuring it and then
I'll get issues asking why it isn't working. Letting someone know it isn't
configured will hopefully get around that. I'll just have to not throw it
when running in the console.

On Mon, 18 May 2015 16:25 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-18 06:30] vinkla commented on #406
Aaah, okay. Then we're on the same page. Misunderstood you. Sorry.

[2015-05-18 06:30] #406 closed

[2015-05-18 06:32] jasonlewis commented on #406
All good. I'll get a fix pushed up soon.

On Mon, 18 May 2015 16:30 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-18 06:34] vinkla commented on #406
Awesome!

[2015-05-18 07:17] ucheng commented on #398
this is awesome! Thank you!

[2015-05-18 07:32] akhedrane commented on #399
ok.
after last commits it work fine now.
thanks.

[2015-05-18 07:32] #399 closed

[2015-05-18 08:50] kostaspt commented on #398
Good job, thanks! :+1:

[2015-05-18 14:03] otherjohn commented on #398
How do you register for laravel. I see a LaravelServiceProvider and the APIServiceProvider. Which one do I put in the Laravel 5 App Config?

[2015-05-18 14:07] vinkla commented on #398
@otherjohn The `LaravelServiceProvider` is the only one needed for an Laravel 5 application.

[2015-05-18 14:10] otherjohn commented on #398
Thanks

[2015-05-18 15:00] otherjohn commented on #398
Ok getting an error.
ErrorException in Laravel.php line 48:
Undefined index: v1

[code]
This is my routes file.

app('api.router')->version('v1', function ($api) {
	Route::get('/', 'WelcomeController@index');
});

[2015-05-18 15:02] vinkla commented on #398
@otherjohn Maybe you could [open a separate issue](https://github.com/dingo/api/issues/new) for this?

[2015-05-18 15:04] otherjohn opened #408 "ErrorException in Laravel.php line 48: Undefined index: v1"
Ok getting an error. using Laravel 5.
ErrorException in Laravel.php line 48:
Undefined index: v1
 I get this when performing a get to the url http://app.dev/api/v1/

version and prefix are both set in config.
 'version' => env('API_VERSION', 'v1'),
 'prefix' => env('API_PREFIX', 'api'),

[code]
This is my routes file.

app('api.router')->version('v1', function ($api) {
Route::get('/', 'WelcomeCont

[2015-05-18 15:04] otherjohn commented on #398
Thanks, did.

[2015-05-18 22:34] jasonlewis commented on #408
Things have changed slightly...

You have to use the API router to register the routes as well.

[code]

Versioning is not done in the URL either so you shouldn't be including the `v1` in the URL. It'll default to `v1` as that's what you've provided in the configuration. You need to adjust the `Accept` header if you want to hit other versions.

[2015-05-18 22:34] #408 closed

[2015-05-19 07:03] oriceon commented on #398
[code]

What`s wrong here? I call api via http://lumen.dev/api/users and get

[code]

[2015-05-19 07:28] jasonlewis commented on #398
Need to add the prefix to your route group as well.

I should probably automate that...

On Tue, 19 May 2015 17:03 Valentin Ivaşcu <notifications@github.com> wrote:

[2015-05-19 07:30] oriceon commented on #398
I added prefix because i used it in .env file

[code]

[2015-05-19 07:38] jasonlewis commented on #398
Yeah you'll need to specify it in your route as part of the URI or add it
to the group as a prefix. It doesn't automatically add the prefix to the
routes.

On Tue, 19 May 2015 at 17:30 Valentin Ivaşcu <notifications@github.com>
wrote:

[2015-05-19 08:28] vinkla commented on #398
@oriceon Does that work fine for you? I'm still getting a `A version is required for an API group definition. `.

[2015-05-19 09:54] catalinux commented on #398
@oriceon:  What url does work for the code above?

Mine route: /api/users it says: NotFoundHttpException in Application.php line 1136:

Does the API_VENDOR=LumenApi has to match some namesace from your code?

[2015-05-19 09:57] jasonlewis commented on #398
@oriceon, change your code to this:

[code]

The first argument for `version` should always be a version (or array of versions), the second argument can be an array of options (or the closure), and the third is the closure if you supplied the array of options.

`API_VENDOR` is the vendor name used when building the Accept header. This is usually a shorthand name like `app` or `github`. Keep it sho

[2015-05-19 10:02] vinkla opened #409 "Handling Responses?"
In version `0.8.*` we had a `ControllerTrait`, how do we handle responses in L5? `new Response()`?

[2015-05-19 10:24] #409 closed

[2015-05-19 10:25] vinkla commented on #398
In version `0.8.*` we had a `ControllerTrait` to handle responses, how do we handle responses in Laravel 5? Like this `new Response()`?

[2015-05-19 10:33] AnthonyConklin opened #410 "Update league/fractal to version 0.12.*"
Currently your requiring "league/fractal": "0.11.*", in composer.json which doesn't support Laravel 5 Pagination.

[2015-05-19 10:39] vinkla commented on #410
This was merged yesterday in https://github.com/dingo/api/pull/401.

[2015-05-19 10:39] jasonlewis commented on #398
There is a Helpers trait in the routing namespace. Have a flick through
that. It's much the same as the old trait.

On Tue, 19 May 2015 20:25 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-19 10:42] pc-paul commented on #398
Trying to install Laravel 5, along with the API. Looks like people have this working. What am I doing wrong? Here is my composer.json and the output I'm getting.  What should my require be?

  {
	"name": "laravel/laravel",
	"description": "The Laravel Framework.",
	"keywords": ["framework", "laravel"],
	"license": "MIT",
	"type": "project",
	"require": {
		"laravel/lumen-framework": "5.0.*@dev",

[2015-05-19 10:55] AnthonyConklin commented on #410
Sweet it was...

[2015-05-19 10:55] #410 closed

[2015-05-19 11:16] vinkla commented on #398
@jasonlewis Aah, thanks!

@pc-paul You've to remove `"league/fractal": "0.13.*@dev"` from your required dependencies.

[2015-05-19 11:23] pc-paul commented on #398
@vinkla Thanks for help, removed fractal, but still an error:-

Loading composer repositories with package information
Updating dependencies (including require-dev)
  - Removing laravelcollective/annotations (v5.0.9)
  - Removing doctrine/annotations (v1.2.4)
  - Removing doctrine/lexer (v1.0.1)
  - Removing league/period (2.5.1)
  - Removing fzaninotto/faker (v1.4.0)
  - Removing league/fractal (

[2015-05-19 11:43] vinkla opened #411 "Custom ExceptionHandler"
Is it possible to overwrite the exception handler? If I would like to add custom syntax for the errors responses. Would be awesome if we could handle the entire exception handler outside of this package and use the default one that comes with the package out of the box.

[code]

[2015-05-19 11:46] pc-paul commented on #398
@vinkla Fixed it, I originally created my project using "Composer create-project laravel/laravel ... ", when I deleted this project and recreated with "Composer create-project laravel/lumen ..." and then setup my require to

    "laravel/lumen-framework": "5.0.*@dev",
    "vlucas/phpdotenv": "~1.0",
    "dingo/api": "0.9.*@dev"

everything worked. Thanks for your help.

[2015-05-19 12:20] vinkla commented on #398
@pc-paul :+1:

[2015-05-19 13:03] pc-paul commented on #398
Spoke too soon. Lumen is too light weight. I need Laravel 5. I've created a new Laravel 5 installation, then set my "require" to as below, but getting the following messages

    "require": {
    	"laravel/framework": "5.0.*",
        "vlucas/phpdotenv": "~1.0",
    	"dingo/api": "0.9.*@dev"
    	}

Output from Composer update

Loading composer repositories with package information
Updating depend

[2015-05-19 13:06] KIVagant opened #412 "Complex example"
Hello.

Is there somewhere a full example of the using this library? (Not wiki, just code)

Thank's.

[2015-05-19 13:07] pc-paul commented on #398
To answer my own question, Deleting the vendor/compiled.php fixed this issue.

[2015-05-19 13:08] vinkla opened #413 "Custom Response Factory"
Is it possible to overwrite the response factory? If I would like to add custom syntax for the http responses. Would be awesome if we could handle this outside of this package and use the default one that comes with the package out of the box.

[2015-05-19 13:11] jasonlewis commented on #412
Not that I know of. I've not had time to overhaul the documentation yet.
I'm hoping those that will use it will go through the source.

If you have any questions sing out as there are a number of helpful folk
using it that may be able to give you a hand.

On Tue, 19 May 2015 23:06 Eugene Glotov <notifications@github.com> wrote:

[2015-05-19 13:14] KIVagant commented on #412
I'm looking for a way to combine this package with [laravel-api-generator](https://github.com/mitulgolakiya/laravel-api-generator/issues/40)
I was hoping to find an example of a controller for an object (eg, a user or an article) using dingo / api.

[2015-05-19 13:19] KIVagant commented on #412
I ask someone from the developers to make a short example of "good practice" usage. For the REST API with normal HTTP response codes and simple Model.

[2015-05-19 13:34] vinkla commented on #390
It would be great if it were possible to override the default exception handler #411!

[2015-05-19 13:52] camilstaps commented on #411
I'm not sure what you're trying to do, but maybe this helps.
In your `boot()` function, you can do something like:

$exception = app('api.exception');

	$exception->register(function(\Illuminate\Database\Eloquent\ModelNotFoundException $e) {
		return Response::make(
			['error' => 'Resource not found'],
			404);
	});

which will then give you, for that exception:

    {"error":"Resource not found"

[2015-05-19 13:54] vinkla commented on #411
I want to map all thrown exceptions in this packages to my Laravel exception handler class instead of using the exception handler in this package. Since I want custom syntax for my API responses.

[2015-05-19 13:54] camilstaps commented on #411
Sorry, don't know how to do that.

[2015-05-19 13:54] vinkla commented on #411
@camilstaps Okay, thanks anyway.

[2015-05-19 14:41] catalinux commented on #412
Something like that?
https://github.com/laravelista/Lissandra (I did not test it)

[2015-05-19 14:47] KIVagant commented on #398
About transformers in L5

[code]
Why I always must send 'new Transformer' to collection() and other methods?
From wiki: "Transformers allow you to easily and consistently transform objects into an array."
But collection can be transformed into array with ->toArray() method.

How I can create MyCustomTransformer in Laravel 5?  TransformerInterface does not exists.

[2015-05-19 15:04] KIVagant commented on #412
Lissandra does not uses dingo/api, but thank you. It can help me to understand Fractal

[2015-05-19 16:14] otherjohn commented on #408
Thanks, I get it now. But I am getting a 404 on this particular route.

app.dev/api/

app('api.router')->version('v1', function ($api) {
    $api->get('/', 'WelcomeController@index');
});

The welcomecontroller is in it's default spot AND resolves at app.dev/

[2015-05-19 16:34] jonaholsson commented on #270
Slampenny's Swaggervel still causes a conflict. Any news on this? I'd like to use the 1.*@dev branch of jlapp/swaggervel

[2015-05-19 18:34] stygiansabyss commented on #398
Anyone else getting

[code]

In lumen?  The code that is generating that is as follows.

[code]

[2015-05-19 22:02] jasonlewis commented on #398
I'll probably need to update the pagination code.

On Wed, 20 May 2015 04:34 Stygian <notifications@github.com> wrote:

[2015-05-19 23:53] jasonlewis commented on #408
Is the controller namespaced? You'll need to add the full namespace as well
as the API routes won't inherit the one defined by Laravel.

On Wed, 20 May 2015 02:14 John Hamman <notifications@github.com> wrote:

[2015-05-19 23:55] jasonlewis commented on #411
Catch all the exceptions then. Same method as above except use the general
Exception class to capture them all.

On Tue, 19 May 2015 23:54 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-19 23:56] jasonlewis commented on #390
Use app('api.exception')->setDefaultFormat. Look at the config as well.

On Tue, 19 May 2015 23:34 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-20 05:47] vinkla commented on #411
@jasonlewis that's what I ended up doing in the end. Thanks!

[2015-05-20 07:20] jonaholsson opened #414 "Error 500 gives blank page with Lumen"
Using the latest dev build to support Lumen, I'm getting blank error 500 pages. Am I missing any configuration parameter? Debug is set to true in both Dingo config and Lumen config.

[2015-05-20 10:35] catalinux commented on #414
Please check the log files. It might not take your config variable for debug. 500 error means that a php error happened.

make sure you have
[code]
in app.php and also

APP_ENV=local
APP_DEBUG=true

in your .env file (not .env-sample)

[2015-05-20 13:38] stygiansabyss commented on #398
Added a PR.  Hope it helps.

[2015-05-20 14:07] pc-paul commented on #398
Laravel 5 API - Added this to bootstrap\app.php

    $app->register('Dingo\Api\Provider\LaravelServiceProvider');

    // Get an instance of the API router so we can use it in the routes.php file
    $api = $app['api.router'];

My .env set to

    API_VENDOR=LaravelApi
    API_VERSION=v1
    API_PREFIX=api
    API_CONDITIONAL_REQUEST=true
    API_STRICT=false
    API_DEBUG=true
    API_DEFAULT_FOR

[2015-05-20 18:01] jonaholsson commented on #414
Thanks @catalinux, I found the issues in the log files, but both app.php and .env are correct.

[2015-05-21 05:34] argia-andreas commented on #398
@pc-paul I'm getting the same error as you trying to get it to work with homestead/laravel5.

Has anyone got it to work with Laravel 5?

This is my composer:
[code]
and this is my bootstrap/app.php
[code]
And this is my .env
[code]

[2015-05-21 06:32] catalinux commented on #414
What errors do you have?

[2015-05-21 06:43] catalinux opened #416 "Lumen working example"
After a few failures, I make it work. My problem was that in composer I had

```    "laravel/lumen-framework": "5.0.*"```, instead of  ```    "laravel/lumen-framework": "5.0.*@dev"```

I am writing this "issue", taking in account it might help people to handle this packager. So, my full "receipe" was:

in .env file:

[code]

in routes.php

[code]
In app.php

[code]

My working path

domain.com/api

[2015-05-21 07:23] jonaholsson commented on #414
They are all various PHP errors, such as missing controllers and other PHP syntax errors, but whenever I'm trying a missing route the Dingo 404 error response is shown correctly.

[2015-05-21 08:01] jasonlewis commented on #416
I did mention in my intial issue posted about Laravel 5 and Lumen support that you'd need to be on the develop branch of Lumen.

[2015-05-21 08:01] #416 closed

[2015-05-21 08:03] jasonlewis commented on #414
Do you have a prefix and the routes setup correctly to handle the prefix? Paste your routes and relevant `API_*` definitions from your `.env` file.

[2015-05-21 08:04] jasonlewis commented on #413
You can always extend `Dingo\Api\Http\Response\Factory` then simply rebind it in your own service provider. It's bound in the container as `api.http.response`.

[code]

[2015-05-21 08:04] #413 closed

[2015-05-21 08:05] vinkla commented on #413
Aah okay, thanks!

[2015-05-21 08:06] catalinux commented on #416
@jasonlewis : I know you did, it was my mistake, although I have read that notice a couple of times. I just wanted to emphasize that again. Can't be made that constrain from the composer.json?

[2015-05-21 08:11] jasonlewis commented on #412
Sorry I don't have time to write a complex example for you nor should I be required too. I'm working on documentation but you must realize that I do this in my free time and as such I'm not able to get it done in a couple of days.

So I ask that you be patient. Honestly, there's not a whole lot to this package and the older documentation on the Wiki is still somewhat relevant. Most differences are

[2015-05-21 08:11] #412 closed

[2015-05-21 08:16] jasonlewis commented on #398
Register the package in your `config/app.php`. You're using Laravel 5 you don't need to register it in the bootstrap file. That's probably my bad, but the demo I posted in my OP was for Lumen.

You'll also need to get the router instance in your `routes.php` file and not the bootstrap file.

Sorry I should've noted that.

[2015-05-21 08:17] jasonlewis commented on #416
Not sure if you can but I don't think it's really worth it as Lumen should be bumping the version sometime soon.

[2015-05-21 08:59] appkr commented on #398
@argia-andreas Been there. I could get router instance like this: `$api = app('api.router');` at routes.php

[2015-05-21 09:10] argia-andreas commented on #398
@appkr Thanks,
but i get the following error:
[code]
I'm registering the service provider in config/app.php.

Did you get that as well?

[2015-05-21 09:20] jasonlewis commented on #398
@argia-andreas Sounds like some configuration is getting mixed up. Have you done anything to any of the configuration values?

[2015-05-21 09:37] pc-paul commented on #398
Config/app.php now has

    'Dingo\Api\Provider\ApiServiceProvider',

with no Aliases as Facade not available.

Routes.php :

    Use Dingo\Api\Provider\ApiServiceProvider;

    // Get an instance of the API router
    $api = app('api.router');
    Route::API('v1', function () {
        Route::resource('property', 'PropertyController');
    });

Composer.json

    "laravel/framework": "5.0.*",

[2015-05-21 09:53] jasonlewis commented on #398
@pc-paul You're using the wrong syntax to add routes. Refer to my original post. You're supposed to be using the `$api` variable which is now an instance of the router to create the route group (with `version`) and then use `$api->get()` or whichever method to add your routes.

[2015-05-21 09:54] argia-andreas commented on #398
@jasonlewis Thank you for your help!

I'm no longer getting errors. I hadn't published the config!!

[2015-05-21 09:55] jasonlewis commented on #398
@argia-andreas, hm, I was under the impression it should work without publishing. I'll look into that as it sounds like an issue.

[2015-05-21 09:56] pc-paul commented on #398
@argia-andreas Can you post your code please.

[2015-05-21 09:57] jasonlewis commented on #398
@pc-paul, please see my above comment.

[2015-05-21 10:02] pc-paul commented on #398
@jasonlewis I changed it to this as per your original post, but I'm getting the same error, Class api.router.adapter does not exist

    Use Dingo\Api\Provider\ApiServiceProvider;

    // Get an instance of the API router

    $api = app('api.router');

    $api->version('v1', function ($api) {
        $api->resource('property', 'PropertyController');
    });

[2015-05-21 10:06] argia-andreas commented on #398
@pc-paul

In config/app.php register
[code]

then in routes.php
[code]

I also forgot to publish the config.
[code]

I think that should do it.

[2015-05-21 10:32] pc-paul commented on #398
Thanks @jasonlewis @argia-andreas , Spotted it now. I had my config/app.php set to ApiServiceProvider and not LaravelServiceProvider. Cheers all.

[2015-05-21 11:12] pc-paul commented on #398
@argia-andreas Does the command php artisan api:routes work for you? For me it says 'There are no commands in the "api" namespace'.

If I go to url http://localhost/laravel/apiv3/public/v1/property I get a NotFoundHttpException in RouteCollection.php line 145:. Something still not right with my setup.

[2015-05-21 12:32] argia-andreas commented on #398
@pc-paul
Paul, I don't think commands are there yet for dingo in Laravel 5. See the first post in this issue.
 Correct me if I'm wrong.

I've got it working.

My routes:
[code]
Url:(perhaps in your case http://localhost/laravel/apiv3/public/api/property)
[code]

And my controller is in:
[code]
and has namespace:
[code]

[2015-05-21 12:40] argia-andreas commented on #398
@jasonlewis

The config issue was my fault, it does work without publishing it.

@jasonlewis @appkr Thanks for the tips. now I got everything working.

[2015-05-21 13:08] pc-paul commented on #398
@argia-andreas Many thanks. Finally seeing some JSON data!! Although I don't really follow the version number as it isn't used in the URL. I expected it to be domain.com/api/v1/test or am I missing something?

[2015-05-21 13:32] argia-andreas commented on #398
@pc-paul
This video by jasonlewis explains how you can use versions pretty well.
https://vimeo.com/93736144

You can have the same "url" and still serve different versions of your api depending on the headers you send in the request.

[2015-05-21 18:35] jonaholsson commented on #414
Here are my `API_*` definitions from `.env`:

[code]

[2015-05-22 03:18] appkr commented on #398
I'm with L5. I'm experimenting this package. To remedy aforementioned inconsistency in pagination by @stygiansabyss, I made a direct modification at `Factory::paginator` to accept `LengthAwarePaginator`. Was not successful to have json response. Did I do something wrong?

[code]

It returns...
[code]

[2015-05-22 07:28] lightvision opened #417 "Internal request dispatcher"
There is any chance to make the internal request dispatcher soon?

Or give me some hints to use it, if it's done.

Thank you

[2015-05-22 08:30] canfiax commented on #398
What's the Laravel 5 Installation / usage process?

I have tried:

	Use Dingo\Api\Provider\ApiServiceProvider;

	$api = app('api.router');

	$api->version('v1', [], function() {
		Route::get('/airports', function() {
			return ['hello world'];
		});
	});

Does not function. Throws error:

    Class api.router.adapter does not exist

[2015-05-22 08:55] pc-paul commented on #398
You need your config/app.php to include

    'Dingo\Api\Provider\LaravelServiceProvider',

Run Composer dump-autoload

You need your .env to include

    API_VENDOR=LaravelApi
    API_VERSION=v1
    API_PREFIX=api
    API_CONDITIONAL_REQUEST=true
    API_STRICT=false
    API_DEBUG=true
    API_DEFAULT_FORMAT=json

Then in your routes, you just need

    $api = app('api.router');
    $api->version(

[2015-05-22 09:06] camilstaps commented on #398
@pc-paul you actually don't need to set all those settings in `.env`. You can have a look in `config/api.php` to see what the default values are, and only put entries in `.env` if you wish to override them.

[2015-05-22 09:13] pc-paul commented on #398
@camilstaps I'll remove mine then. Cheers.

[2015-05-22 10:51] jasonlewis commented on #417
It's not done as of yet. Soon though.

On Fri, 22 May 2015 17:28 Marius Ionel <notifications@github.com> wrote:

[2015-05-24 16:47] Ortix92 commented on #398
Out of curiousity, is the internal dispatcher making progress? Or should I create my own and a PR? My site makes heavy use of the dispatcher and I'm in the process of upgrading to L5

[2015-05-24 19:31] camilstaps opened #418 "Making same controller available under different endpoints (`/article` and `/user/{id}/article`)"
Suppose I have a resource `user` and a resource `article`. I would like to have the following endpoints:

* `GET /article` - get all articles
* `GET /user/{id}/article` - list of articles of the indicated user

How would I define this in the routes, and in the controller?

I'm thinking something like:

    $api->resource('article', 'My\NameSpace\ArticleController');
    $api->resource('user.articl

[2015-05-25 01:05] jasonlewis commented on #398
It's in progress. Sorry about the wait.

On Mon, 25 May 2015 02:47 Nick <notifications@github.com> wrote:

[2015-05-25 03:09] KIVagant opened #419 "Additional fields in error responses. Exceptions with the any additional data."
**Problem:**

I need to add some special fields to error request. The array 'errors' in Dingo custom Exceptions is not enough for me.

For example, i need to send error message:
[code]

**Resolution:**

In api.php setup new format:
[code]

Create the new Exception:

[code]

Than throw it from API

[code]

And now, get this result:
[code]

Pull request is coming.

[2015-05-25 03:46] jasonlewis commented on #419
Just catch all errors thrown and deal with them yourself. You can use
app('api.exception')->register() with a call back that type hints the
global Exception class.

On Mon, 25 May 2015 13:09 Eugene Glotov <notifications@github.com> wrote:

[2015-05-25 09:58] KIVagant commented on #419
@jasonlewis , if I will catch exception before dingo, then I will need to rewrite all this logic:

[code]

It is not good way.

Dingo/api has own special exceptions, it's already show, that default functionality is not enough. I propose remove this limitations. This library do a good job for REST supporting, but why it try to limit response data?

[2015-05-25 10:07] jasonlewis commented on #419
It doesn't try to limit anything. It's just how it's done at the moment.

I've seen you sent the PR so I'm more then happy to look at it when I get
the chance. Doesn't look like a huge change according to the e-mail so I
can't see why not at this stage.

On Mon, 25 May 2015 19:58 Eugene Glotov <notifications@github.com> wrote:

[2015-05-25 10:35] KIVagant commented on #419
It's a not big patch. I tried to find a minimal way to get result, but in future, genericResponse method waiting to refactoring. I think, most correctly is to check any available fields from config in exception instead of writing hardcoded special exceptions, like ```$exception->hasErrors()``` in ResourceException. $replacements need to fetch from default trait or interface method.

P.S.: Sorry fo

[2015-05-25 10:42] jasonlewis commented on #419
I do and I thank you for your time. I'll get on it soon.

On Mon, 25 May 2015 20:35 Eugene Glotov <notifications@github.com> wrote:

[2015-05-25 11:10] Ortix92 commented on #398
@jasonlewis no worries man! Every effort is appreciated! Was just curious whether I should just start on my own dispatcher or wait out the ride. I think my upgrading process is going to take a while and in the meantime I can just fire off a curl request

[2015-05-25 11:51] jayhealey commented on #398
I'm having troubles with the Rate Limiting in Lumen. It works fine in Laravel 5.

The `composer.json` has the following requirements:

[code]

The `routes.php` file contains:

[code]
Without the `['limit' => 100, 'expires' => 5]` parameters, it works great.

And adding the parameters in Laravel 5 works great too, but with Lumen I get the following:

[code]

The `api.php` has the following for thro

[2015-05-25 14:56] KIVagant commented on #419
@jasonlewis , don't merge it now, I make some little changes for more accurate use.

[2015-05-25 16:33] KIVagant commented on #419
@jasonlewis, ok I'm done.

Now it looks not like true-OOP-way. But usage is much more simple.
Good news:
- You can use any Exception without extending.
- You can easily add properties what you need to response.
- You still have control on responses from config.

Usage:
1. Add new return fields to api.php errorFormat.
2. Throw exception from Api:
[code]

---------------
**For example**, now you can

[2015-05-25 20:18] ajoslin103 opened #421 "Can not develop authentication locally"
I have a big project that I have migrated to dingo/api and I am now trying to install authentication via tymondesigns/jwt-auth (which I installed & configured - and then turned on in dingo/api's config file)

Because I am working completely locally, I am serving my Laravel4 application using: php artisan serve & my angular app using: grunt serve

Because going from one port (angular on 9000 & lara

[2015-05-25 20:42] ajoslin103 commented on #421
I figured it out I think -- I needed to send those headers in the standard Laravel auth filter.

[2015-05-25 20:42] #421 closed

[2015-05-26 06:35] KIVagant commented on #419
@jasonlewis, [PR in laravel-api-generator](https://github.com/mitulgolakiya/laravel-api-generator/pull/54) is depends to this issue.

[2015-05-26 08:55] kabelo38 commented on #64
works well for me using .htaccess file

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Access-Control-Allow-Origin "*"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

$user = User::findOrFail('1');
try {
return 'User not found ' ;

		} catch (ModelNotFoundException $e) {

			throw new ResourceException("No user reco

[2015-05-26 09:52] slovenianGooner commented on #414
I have the same issue, yes.

[2015-05-26 10:08] jasonlewis commented on #414
Fresh Lumen install? Anything in the logs. I'm not sure what could be causing issues. The only `API_*` definitions you really need are the vendor and prefix (or domain if you're on a different domain).

Please provide any relevant error logs and code.

[2015-05-26 10:20] slovenianGooner commented on #414
I've basically tracked down the issue to here:

[code]

in the ```Dingo\Api\Exception\Handler``` class.

The request is an instanceof Request and therefore throws another Exception, presuming it's going to be handled by the "normal" exception handler? At least that's my understanding. And then I get lost on where the exception is handled. It gets written in the lumen.log file, but doesn't display

[2015-05-26 10:21] jasonlewis commented on #414
Can you track where the exception is being thrown from? Is it during the dispatching of the route or prior to this?

[2015-05-26 10:24] slovenianGooner commented on #414
It's after dispatching the route, basically any error in the controllers, etc. throws a blank page. It's a PDOException in this speific case, but also throwing a general Exception manually returns a blank page.

[2015-05-26 10:25] jasonlewis commented on #414
Okay that helps, I'll take a look but it should be be handled by the handler. It's a little annoying because Lumen handles exceptions differently to Laravel.

[2015-05-26 10:27] slovenianGooner commented on #414
Yeah, I get that, that's why I thought it was an issue with Lumen. Just tested and disabling the Dingo package and registering a generic route returns a "good" error. :)

[2015-05-26 13:48] vinkla commented on #411
@jasonlewis Do you have any example?

[2015-05-26 15:25] stygiansabyss opened #422 "Pagination in Laravel5/Lumen Version"
I am giving this it's own issue so as not to clutter #398.

I am currently working on getting pagination to respond like Fractal does, but I wanted to make sure that was the expected behavior.

[code]

Can anyone let me know if this is how the response should be returned on a paginated resource?

[2015-05-26 19:32] stygiansabyss commented on #422
@appkr's solution in the original issue does work.  Not sure if that should be the correct resolution though.

[2015-05-26 20:02] viktorchukhantsev opened #423 "ResponseFactory error() builds embedded error array"
Very strange behaviour embed array into array instead of merging.
Example response:
[code]

[2015-05-27 03:34] jasonlewis commented on #419
Let's move discussion over to the PR, #420. :smile:

[2015-05-27 03:34] #419 closed

[2015-05-27 03:40] jasonlewis commented on #418
You could do it just like that, yes. You'd need a couple of checks in your controller as to whether or not the variable is defined and what have you. Obviously you can just run separate controllers to keep things organized if you wanted to as well. This is sort of up to you to decide.

[2015-05-27 03:40] #418 closed

[2015-05-27 03:42] jasonlewis commented on #411
Well... you could rebind the Dingo exception handler as well. But what I was suggesting is to type-hint the standard `Exception` class in the Dingo exception handler and then pass the exception on to your applications handler.

[code]

[2015-05-27 04:13] jasonlewis commented on #414
I've tweaked the exception handler so it now handles all exceptions by default and will build a generic response if there's no custom handler registered. It will default to a `500 Internal Server Error` for the response type as well. The exceptions message (if any is provided) will be used as the message key.

[2015-05-27 04:25] jasonlewis commented on #423
The factory now simply throws an `HttpException` with the message and status code to avoid the doubling up here.

[2015-05-27 04:25] #423 closed

[2015-05-27 06:02] slovenianGooner commented on #414
Thanks for this, mate! Much appreciated! Will test it and get back if there are any issues.

[2015-05-27 06:03] vinkla commented on #411
I tried to rebind the Dingo exception handler first but since it is typehinted within the `Router` class I didn't get it to work. I'll try the snippet you've provided. Thanks!

[2015-05-27 06:07] jasonlewis commented on #414
Awesome much appreciated.

On Wed, 27 May 2015 16:02 slovenianGooner <notifications@github.com> wrote:

[2015-05-27 06:08] jasonlewis commented on #411
You'd need to extend to rebind it. The type hint in the router should still
work through inheritance.

On Wed, 27 May 2015 16:03 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-27 06:11] vinkla commented on #411
Aah okay, didn't think about extending the handler form this package. I'll try it out. Thanks!

[2015-05-27 06:15] jasonlewis commented on #411
I might do up an interface for this though as that'll be easier in the long
run for folks that do what finer control over how exceptions are handled.
For some this might be a better option then using a catch all handler like
I demonstrated above where you type hint that default Exception class.

Would that better suit your needs? You'd then need to implement the handle
method on your class and in

[2015-05-27 06:18] jasonlewis commented on #398
The closure should be inside that array just like it should be in Laravel.
This is how the routing has been done in Laravel for a while now. Just make
it the last value in the array after expires. It does not need a key. Just
the closure.

On Mon, 25 May 2015 21:51 James Healey <notifications@github.com> wrote:

[2015-05-27 06:20] slovenianGooner commented on #414
Hm, still getting a completely blank page. Will debug a bit and see where it's stuck.

[2015-05-27 06:20] vinkla commented on #411
Yeah, thats sound like a great idea! I think it would make this package even more extendable for the users that want to have their custom setup. Though, the current setup is great out of the box.

I'm currently using https://github.com/GrahamCampbell/Laravel-Exceptions package which just recently got support for custom displayers. I've created custom `JsonDisplayer` for all HTTP responses and for

[2015-05-27 06:43] jasonlewis commented on #411
Hm... If I do go that route I probably won't add it to the configuration
file to keep it from becoming bloated with things that most people won't
touch. How about a method on the handler that let's you disable it so all
exceptions are simply thrown back out to be handled by the user?

On Wed, 27 May 2015 16:20 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-27 06:44] jasonlewis commented on #414
What kind of exception and where are you throwing it?

On Wed, 27 May 2015 16:20 slovenianGooner <notifications@github.com> wrote:

[2015-05-27 06:48] vinkla commented on #411
Thats sound good. Maybe you could add it to the configuration but don't add it by default? Calling the `config()` but return true if the config doesn't exist? Do you've how would it look code-wise with the method?

[2015-05-27 06:51] jasonlewis commented on #411
The way I'm thinking...

app('api.exception')->disable()

On Wed, 27 May 2015 16:48 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-27 06:54] slovenianGooner commented on #414
This, for example returns a JSON error with the Dingo API Exception handler:

[code]

Then a fatal PHP error returns a blank page, for example from this route:

[code]

This just examples, but the class User cannot be found up there and it gives a fatal PHP error, resulting in a blank page. If I turn on PHP errors, it gives a full stack of course.

[2015-05-27 06:55] vinkla commented on #411
Thats sounds awesome! Let me know if I can help with that. Do you think it will be hard to implement?

[2015-05-27 06:58] jasonlewis commented on #414
Right of course. I'll take another look.

On Wed, 27 May 2015 16:54 slovenianGooner <notifications@github.com> wrote:

[2015-05-27 06:59] jasonlewis commented on #411
Shouldn't take me more then a few minutes once I'm back at my computer.

On Wed, 27 May 2015 16:55 Vincent Klaiber <notifications@github.com> wrote:

[2015-05-27 07:01] jayhealey commented on #398
@jasonlewis Yeah, all good! Cheers.

[2015-05-27 07:03] vinkla commented on #411
Sounds great! This is the only thing holding me back from merging the `dingo` branch into my current API project. Let me know how it goes.

[2015-05-27 13:45] vinkla commented on #411
To be honest I the current exception handler could work if there only were a way to extend it even more. I'll try to extend it again.

[2015-05-27 16:15] jrm2k6 opened #425 "What are the advantages of dingo/api over just having regular routes with jwt token authentication?"
I guess the question is pretty self-explanatory, but as we are moving to L5 and have to juggle with having dingo/api working, we might be considering going away from it as our API is still fairly small.

What are the pros of using dingo/api?

[2015-05-27 20:40] bweston92 commented on #425
Main one for me is internal requests, therefore your own front end controllers can use your API which is neat.

It utilises Fractal allowing transformers which keep consistency with data over versions of your API.

—
Sent from Mailbox

On Wed, May 27, 2015 at 5:15 PM, Jeremy Dagorn <notifications@github.com>
wrote:

[2015-05-28 04:54] jasonlewis commented on #414
I tried your example on a fresh Lumen install with `display_errors=Off` in `php.ini` and I get a blank screen.

[2015-05-28 06:15] slovenianGooner commented on #414
So must be the Lumen then? When I disable the Dingo API service provider I get a perfectly fine error page, that's what baffles me.

[2015-05-28 08:54] jasonlewis commented on #414
Can you screenshot the error page for me?

On Thu, 28 May 2015 16:15 slovenianGooner <notifications@github.com> wrote:

[2015-05-28 09:17] slovenianGooner commented on #414
The default one without the provider enabled?

[2015-05-28 09:42] jasonlewis commented on #414
Yeah and display_errors off I'm guessing?

On Thu, 28 May 2015 at 19:17 slovenianGooner <notifications@github.com>
wrote:

[2015-05-28 09:59] vinkla commented on #411
I did manage to solve this rebinding the current exception handler. Though, I think the interface idea is still is great! Thanks for taking time to helping me out. Really appreciated :)

[2015-05-28 10:45] lightvision commented on #417
Any chance with the internal dispatcher?

I know you've been bussy with exception handler but I build an app that self consumes the exposed api...

And some notices: the artisan route:list doesn't display the api routes in the command line.

[2015-05-28 10:49] jasonlewis commented on #417
Dispatcher is still in progress. The command has also been removed for the
time being. It'll be back, probably once I get the dispatcher working.

On Thu, 28 May 2015 at 20:45 Marius Ionel <notifications@github.com> wrote:

[2015-05-28 11:05] vinkla opened #426 "Undefined index: user"
I'm using the `JsonApiSerializer` in my project which returns `Undefined index: user` when trying to include the user into my events request. Though this works fine when using the default serializer. What could I've done wrong? The error is thrown in `JsonApiSerializer` on line 58. Maybe I should post this in Fractal repository instead of here?

[code]

[2015-05-28 11:37] jayhealey commented on #425
On top of that: documentation, community support and bug fixes.

You can point any new developer on your team to the documentation, and they'll pick it up quickly.

[2015-05-28 12:22] slovenianGooner commented on #414
![routenotfound](https://cloud.githubusercontent.com/assets/1257629/7859913/f37818dc-0544-11e5-8106-3851dfa70ca8.PNG)

There you got. Basic 404 exception without the service provider and display errors set to off.

[2015-05-28 12:25] jasonlewis commented on #414
Things like syntax errors and things working correctly? Using a class that
doesn't exist?

On Thu, 28 May 2015 22:22 slovenianGooner <notifications@github.com> wrote:

[2015-05-28 12:27] slovenianGooner commented on #414
![syntaxerror](https://cloud.githubusercontent.com/assets/1257629/7859995/9bd289cc-0545-11e5-99ac-ee5deef961da.PNG)

Yes, seems to.

[code]

[2015-05-28 12:38] slovenianGooner commented on #414
Just did another composer update. Syntax violation seems to work with a "Dingo" now, but undefined class still returns a blank page.

[2015-05-28 12:51] jasonlewis commented on #414
Okay no worries I'm going to have to play with this a bit more it seems.
Bloody Lumen doing things differently! Heh.

On Thu, 28 May 2015 at 22:38 slovenianGooner <notifications@github.com>
wrote:

[2015-05-28 16:36] jrm2k6 commented on #425
Thanks guys for answering.
I overlooked the point about internal request. That's a great advantage.

[2015-05-28 16:36] #425 closed

[2015-05-29 03:08] HipsterJazzbo commented on #398
@jasonlewis What about using `->when()` to specify conditions for the route parameters? Planned?

[2015-05-29 03:23] jayhealey opened #427 "Rate Limiting error responses are plain text, not JSON."
I've noticed when using rate limiting (as below) the response is inconsistent with other responses. Preparing the route:
[code]

And whilst it returns a HTTP 403 code, the body of the response is plain text, currently:
[code]

Is there way to replace this with a JSON response?
[code]

Any ideas? Thanks in advance.

[2015-05-29 03:26] jasonlewis commented on #427
Hm yes, it should be that. Will fix this.

On Fri, 29 May 2015 13:23 James Healey <notifications@github.com> wrote:

[2015-05-29 06:25] slovenianGooner commented on #414
Yeah, no problem. Wish I could help out, if I find something while having display_errors on I'll let you know.

[2015-05-29 08:53] jasonlewis commented on #426
Not too sure mate, have you opened the issue on the Fractal repo?

[2015-05-29 08:53] #426 closed

[2015-05-29 08:53] jasonlewis commented on #411
Yeah for sure mate. Going to implement an interface for this I think.

[2015-05-29 09:18] vinkla commented on #411
Cool, let me know how it goes!

[2015-05-29 09:19] vinkla commented on #426
@jasonlewis Yeah, did that. Thanks anyway!

[2015-05-29 10:08] jasonlewis commented on #427
Fixed.

[2015-05-29 10:08] #427 closed

[2015-05-30 23:00] jayhealey commented on #427
Awesome, thank you!

[2015-05-31 15:33] luizreginaldo opened #432 "Route::api don't work in Laravel 5"
Hello, I am trying to use the API in Laravel 5 using the branch Develop but when configuring the route generates an exception "BadMethodCallException in Macroable.php line 87: Method api does not exist."

[2015-05-31 15:43] GrahamCampbell commented on #432
Looks like the service provider isn't correctly registered or you've resolved the router too early in the application startup cycle.

[2015-05-31 15:56] tymondesigns commented on #432
Don't you have to use the router resoved from `app('api.router'); anyway` ?

I had the same error at first and just added `$api = app('api.router');` to my `RouteServiceProvider`.

Then in the routes file...

[code]

[2015-05-31 16:09] GrahamCampbell commented on #432
That is true, yes. This has changed since the previous version of dingo api.

[2015-05-31 16:19] tymondesigns commented on #432
@GrahamCampbell indeed it has :+1:

@luizreginaldo If you follow this method, you will also have to add the namespace key if you want access your controllers without the full path. e.g.

[code]

[2015-05-31 18:14] luizreginaldo commented on #432
Hello guys, now worked for me.

Thank you =)

[2015-05-31 18:14] #432 closed

[2015-05-31 20:28] luizreginaldo opened #433 "Retrieving Authenticated User in Laravel5 version"
Hello all.
How do I get the authenticated user using the version 0.9.*@dev?

[code]

This works, but is correct?

[2015-05-31 23:29] jasonlewis commented on #433
That is indeed correct. If you're using a controller and using the `Dingo\Api\Routing\Helpers` trait you can use the helper method included.

[code]

[2015-05-31 23:29] #433 closed

[2015-06-01 00:13] jasonlewis commented on #411
There's now a contract for replacing it at `Dingo\Api\Contract\Exception\Handler`. The `handle` method is the only requirement.

[2015-06-01 00:13] #411 closed

[2015-06-01 00:17] jasonlewis commented on #414
I'm going to re-open this. I'll have to investigate some more into what the hell Lumen is doing.

[2015-06-01 05:18] vinkla commented on #411
Awesome! I'll try it out.

[2015-06-01 09:17] donnigunawan opened #442 "transformer for Responding With A Collection Of Items"
Hi, I have no idea on how to use transformer class for Responding With A Collection Of Items. I tried another response and it works but now the Responding With A Collection Of Items.
Here is my code, I select all group from database :

in UserController.php :
class UserController extends BaseController
{
    public function show()
    {
		//use ControllerTrait;
        $group = Sentry::findGroupBy

[2015-06-01 09:40] bweston92 commented on #442
You need to make a Illuminate collection out of the Sentry collection.

[2015-06-01 09:43] bweston92 commented on #442
After looking at Sentry, I've noticed you're passing a single model not a collection into the response builder.

[2015-06-01 09:53] donnigunawan commented on #442
thank you @bweston92 , I didn't notice that one

[2015-06-01 09:53] #442 closed

[2015-06-01 14:52] ZoozyCN commented on #398
[code]
when add
[code]
to my routes.php

config/app.php
[code]

.env
[code]

[2015-06-01 15:49] jonaholsson commented on #414
Thanks @jasonlewis. I'll dig a little bit further too.

[2015-06-02 13:14] slovenianGooner opened #443 "JsonResponse not valid"
So I got this while trying to pass through a JsonResponse:

[code]

Fixed it by adding this to line 528 in the Router.php file:

[code]

So basically just returning the response. I wasn't sure if it was the right thing to do, that's why I created the issue, not doing a pull request.

[2015-06-02 13:18] catalinux opened #444 "How do you set a custom serializer?"
I could not find a way to change the serializer. I want to use a Custom JsonApi serializer for Controller responses.

[2015-06-02 13:29] jasonlewis commented on #443
You shouldn't really be passing back a JsonResponse. That's Dingo's job.

On Tue, 2 Jun 2015 23:14 slovenianGooner <notifications@github.com> wrote:

[2015-06-02 13:31] GrahamCampbell commented on #443
@jasonlewis Surely you should allow any kind of response, including a symfony response?

[2015-06-02 13:37] slovenianGooner commented on #443
True, but Dingo throws an error saying JsonResponse is not of correct instance. I get that Dingo prepares every statement. If it helps I'm working with the OAuth2 server returning an access token.

[2015-06-02 13:42] jasonlewis commented on #443
Send a pull if you like but not how you've fixed it. Just don't morph the
response that's done in prepare response. If a Symfony response instance is
returned as well then it must also not be morphed.

Originally the strict type hinting was so I didn't get issues from people
asking why transformers are working and all that jazz because they were
returning symfony and or json responses.

On Tue, 2

[2015-06-02 16:27] elsodev commented on #398
@jasonlewis Hi, im on L5.1.

$api = app('api.router');
$api->version('v1',['prefix' => 'api'], function ($api) {
	$api->get('test', function(){
		return 'hello';
	});
});

when i access my url
/api/test

i kept on getting a 505 internal server error.

I did setup accordingly, any idea on whats wrong?

[2015-06-02 17:45] slovenianGooner commented on #443
Yeah, got no problem with that, will try to fix it and send in a pull request, was just wondering if I was doing something wrong.

[2015-06-02 17:47] camilstaps commented on #398
@elsodev A 505 error has nothing to do with Dingo or Laravel, and is not an internal server error. It means that your web server (apache, nginx, ...) does not support the HTTP version (typically 1.1 or 1.0) your browser is using. This means you are using a very old version of your server software or messed up its settings.

More common is the 500 *internal server error*. The most common cause to t

[2015-06-02 23:16] jasonlewis commented on #444
You can do this within your configuration.

[code]

[2015-06-02 23:16] #444 closed

[2015-06-02 23:17] jasonlewis commented on #398
@HipsterJazzbo Can you open a separate issue please and we'll discuss it there. Cheers!

[2015-06-02 23:30] jasonlewis commented on #417
Just an update. I'm working on the final touches of the dispatcher and testing it so hopefully no nasties make it through.

[2015-06-03 02:36] elsodev commented on #398
@camilstaps Hi, thanks for replying.
I checked my logs and found out

[code]

I changed my auth to this, and it worked.
[code]

Thanks again.

[2015-06-03 03:17] jayhealey commented on #398
Looks like the bump from Laravel 5.0 to 5.1 killed the Lumen compatibility for the time being.

Running a `composer update` on Lumen returned the following:

[code]

I've asked Taylor if Lumen will receive a bump from 5.0 to 5.1 as well, but had no answer yet.

[2015-06-03 03:23] jasonlewis commented on #398
I thought there was an alias for 5.1 for Lumen? I'm away from my computer
right now but will check it out after.

On Wed, 3 Jun 2015 13:17 James Healey <notifications@github.com> wrote:

[2015-06-03 05:37] catalinux commented on #444
I use .env file. Where do I put this config?

Sent from my iPhone

[2015-06-03 07:51] vinkla opened #446 "[Feature Request] Better JSON API Support"
Currently we have no real http://jsonapi.org/ support. Would be awesome if we could implement it.

[2015-06-03 07:54] catalinux commented on #446
I think it should me bade through a serializer used by the fractal manager. It used to have one, but it's not updated with the laste chanes of jsonapi.

[2015-06-03 07:56] vinkla commented on #446
I think so too. Hope they'll update it soon.

[2015-06-03 08:21] BradleyDeLar commented on #444
If you don't already have it in your root directory put a `config` folder in there and copy the api config file into that folder, then you just need to load the config <i>before</i> you register the provider using `$app->configure('api');`
http://lumen.laravel.com/docs/configuration#configuration-files

[2015-06-03 08:57] catalinux commented on #444
Tx @BradleyDeLar

For now I used like this:

in my `.env` file I added my own
`API_TRANSFORMER=App\Api\CustomFractal`

CustomFractal where extends

[code]

[2015-06-03 09:03] vinkla commented on #444
@catalinux Do you have a working `JsonApiSeriaizer` to share?

[2015-06-03 09:11] jasonlewis commented on #444
Fractal ships with one does it not?

On Wed, 3 Jun 2015 19:03 Vincent Klaiber <notifications@github.com> wrote:

[2015-06-03 09:12] vinkla commented on #444
It does but sadly its not yet compatible with the new standards.

[2015-06-03 09:14] jasonlewis commented on #444
I've not kept up with the standard. It was changing frequently when I first
implemented the serializer. Feel free to send a PR to the fractal
repository if you're able to fix it.

On Wed, 3 Jun 2015 19:13 Vincent Klaiber <notifications@github.com> wrote:

[2015-06-03 09:16] vinkla commented on #444
I think @philsturgeon wanted to wait on the standard to hit `1.0`. I've opened a issue in their repo #187.

[2015-06-03 11:40] lucasmichot commented on #446
Isn't it a bit out of the scope of dingo/api ?
Everyone is free to use their own serializers and implements jsonapi, hateoas or any other one

[2015-06-03 11:54] vinkla commented on #446
I just wanted to bring the issue up. In my opinion this package should strive to support at least some standards out of the box. Though this specific case should probably be fixed in the Fractal package. I've opened an issue there as well https://github.com/thephpleague/fractal/issues/187

[2015-06-03 12:28] catalinux commented on #444
@vinkla : nope, I do not have. Also, I do not think I will implement in the next future a "standard jsonapi".

[2015-06-03 12:29] vinkla commented on #444
@catalinux Okay, too bad. Not sure what you mean in that last sentence. Are you saying you wont implement the latest standard?

[2015-06-03 13:09] slovenianGooner commented on #443
Closing this. Solved it by parsing a simple array to Dingo.

[2015-06-03 13:09] #443 closed

[2015-06-03 14:17] catalinux opened #447 "composer update with lumen framework does not work"
[code]

```composer update```

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - remove dingo/api 0.9.x-dev|keep dingo/api dev-develop
    - dingo/api 0.9.x-dev requires illuminate/routing 5.1.* -> no matching package found.
    - dingo/api dev-develop re

[2015-06-03 14:20] vinkla commented on #447
Try using `"laravel/lumen-framework": "5.1.*@dev"` instead.

[2015-06-03 14:21] GrahamCampbell commented on #447
`"league/fractal": "*",` wildcard version constraints are always a bad idea

[2015-06-03 14:21] catalinux commented on #447
Problem 1
    - Installation request for laravel/lumen-framework 5.1.*@dev -> satisfiable by laravel/lumen-framework[5.1.x-dev].
    - laravel/lumen-framework 5.1.x-dev requires illuminate/auth 5.1.* -> no matching package found.
  Problem 2
    - remove dingo/api 0.9.x-dev|keep dingo/api dev-develop
    - dingo/api 0.9.x-dev requires illuminate/routing 5.1.* -> no matching package found.
    - di

[2015-06-03 16:13] kostaspt commented on #398
I'm getting the same error message with @jayhealey. I'm on Laravel 5.0.31.

[2015-06-03 16:22] jrm2k6 commented on #447
Same thing with Laravel 5.0:
[code]

Is there a way to work around that? As we don't want to upgrade from 5.0 to 5.1 yet.

[2015-06-03 16:25] vinkla commented on #447
@jrm2k6 This package no longer supports Laravel 5.0 as of #440. Though, you could update to Laravel 5.1 today. They've said it will be released right after Symfony 2.7 which was some days ago.

[2015-06-03 16:36] jrm2k6 commented on #447
That's interesting. So the package supports 4.2, and supports 5.1 but not 5.0. It would have been sweet to know about this plan before. Will see what I can do

[2015-06-03 18:39] vinkla commented on #447
The transition between Laravel 5.0 and [5.1 is almost none existing](http://laravel.com/docs/master/upgrade#upgrade-5.1.0), you should check it out.

[2015-06-03 18:40] jrm2k6 commented on #447
Cool thanks!

[2015-06-03 21:15] Anahkiasen commented on #398
If development is being continued on 5.1 can we get an intermediary tag for 5.0? As it was working before but can't run composer update anymore on any 5.0 apps

[2015-06-04 05:11] lightvision commented on #417
Great, I eggerly wait to test it!

[2015-06-04 07:40] bweston92 commented on #417
So glad, I'm porting my application over to L5 and this is only issue I have.

[2015-06-04 11:07] slovenianGooner commented on #447
Yeah, even if changing to 5.1.*@dev it still returns an error. Any ideas?

[2015-06-04 11:07] GrahamCampbell commented on #447
You need to correctly set the GLOBAL minimum stability.

[2015-06-04 11:11] slovenianGooner commented on #447
Yes, seems to do the trick. Was just having the GLOBAL preferred-install set to dev. Thanks!

[2015-06-04 11:12] GrahamCampbell commented on #447
"preferred-install" isn't right...

[2015-06-04 11:12] GrahamCampbell commented on #447
`"preferred-install": "dist"` should be dist

[2015-06-04 11:12] GrahamCampbell commented on #447
[code]

[2015-06-04 11:13] GrahamCampbell commented on #447
That's telling composer to download zips, or clone the repo.

[2015-06-04 11:16] catalinux commented on #447
It works. Tx @GrahamCampbell

[2015-06-04 11:23] slovenianGooner commented on #447
Are there any changes on how the API routes are registered? Can't seem to get it to work after the update.

[2015-06-04 11:26] catalinux commented on #447
Same question here, such route does not work any more:

[code]

[code]

NotFoundHttpException in Application.php line 1116:

[2015-06-04 12:57] xLink commented on #417
this is all im waiting for so i can wrap up upgrading my base to L5 :D

[2015-06-04 16:42] BardiaAfshin opened #450 "when will L5 support be merged to master/stable?"
When will the Laravel 5 support be merged into master/stable?

[2015-06-04 19:42] Ortix92 commented on #417
so close

[2015-06-04 20:43] dharmendrajadon opened #451 "Why dingo is collecting my all routing information"
I see in my logs, all routes are collected by dingo and them further processed
Here is the Log:
-------------------------
[2015-06-05 02:05:33] production.ERROR: exception 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException' in /home/lorgan/public_html/protected/bootstrap/compiled.php:5751
Stack trace:
#0 /home/lorgan/public_html/protected/vendor/dingo/api/src/Routing/Router.php(326): Il

[2015-06-06 01:43] jasonlewis commented on #450
I'll do that soon.

[2015-06-06 01:43] #450 closed

[2015-06-06 01:48] jasonlewis commented on #451
I'm not sure what your issue is here? You're getting a not found, perhaps paste your routes file and other related bits and pieces.

[2015-06-06 01:48] #451 closed

[2015-06-06 02:57] jasonlewis commented on #447
Looking at Lumen it seems some changes that made it to `5.0` haven't been merged into the master branch yet, not sure if they will any time soon. I'll raise this issue with Taylor. Hopefully then routing is restored for Lumen.

[2015-06-06 03:06] jasonlewis commented on #447
https://twitter.com/jasonclewis/status/607019177065353216

I'll check shortly but it should be fine now if you're using Lumen. Just run an update.

[2015-06-06 08:26] jasonlewis commented on #447
Can confirm, all should be sweet now folks. Let me know if you're still having dramas.

[2015-06-06 08:26] #447 closed

[2015-06-06 08:31] jasonlewis commented on #398
@Anahkiasen, it crossed my mind, however, it would fall behind in terms of any security patches and feature updates. The dispatcher wouldn't be there, etc.

From what I can gather 5.1 should be out soon and will be LTS so I'd recommend that most people still developing 5.0 apps will shift to that.

[2015-06-06 08:32] jasonlewis commented on #398
And for folks having issues with Lumen (or Laravel), you may need to set your minimum stability to `dev` in `composer.json`.

[2015-06-06 08:36] jasonlewis commented on #446
We'll leave this up to the Fractal folks. (I'm meant to be one, so busy though. I'll take a better look at it when I get the chance.)

[2015-06-06 08:36] #446 closed

[2015-06-06 08:37] jasonlewis commented on #422
See #448, we'll get a PR merged in for a fix on pagination soon.

[2015-06-06 08:37] #422 closed

[2015-06-06 09:37] jasonlewis commented on #417
Dispatcher is live on the `master` branch which is now aliased to `0.9.*@dev` instead of the `develop` branch. Just `composer update` and let me know how you all get along with it.

[2015-06-06 09:49] vinkla commented on #446
Okay, sounds good!

[2015-06-06 12:54] camilstaps commented on #398
@jasonlewis also with minimum stability `dev` I'm experiencing issues to update now:

    Loading composer repositories with package information
    Updating dependencies (including require-dev)
    Your requirements could not be resolved to an installable set of packages.

      Problem 1
        - dingo/api dev-develop requires illuminate/support 5.1.* -> satisfiable by illuminate/support[5.1.x-

[2015-06-06 15:26] antonioribeiro commented on #398
@camilstaps, you need to change your composer.json to:

[code]

As the error says:

[code]

[2015-06-06 21:31] sebastiaanluca commented on #398
@antonioribeiro Yeah, but `laravel/lumen-framework` is on `~5.0.0@dev`, not `5.1.x`. Was working last week.

[2015-06-06 22:35] camilstaps commented on #398
@antonioribeiro @sebastiaanluca ah, right, stupid of me. I assumed it was a dingo issue while it was in my own composer.json! Thanks.

[2015-06-08 09:02] lightvision opened #457 "Api routes are not listed"
When I run php artisan route:list the registered api routes are not shown.
Am I missing something?

PS. I get the propper response from the controller with a test route.

I've also notet that with Ding/Api enabled the name of the Middleware is changed to the full namespaced middleware name instead of its key

[2015-06-08 09:20] catalinux commented on #457
According to https://github.com/dingo/api/issues/398

"There is no route command at this point in time. It will be back."

You could var_dump the fastroute object to see some data

[2015-06-08 09:20] lightvision commented on #457
On 08.06.2015 12:20, catalinux wrote:

Thanks, I already did that.

[2015-06-08 09:41] lightvision commented on #417
How can I call the dispatcher? Could you give me an example?

Thank you

[2015-06-08 09:48] Ortix92 commented on #417
I think you have to resolve it from the IoC container by 'making' and
instance of 'api'. On my phone so can't test

On Monday, June 8, 2015, Marius Ionel <notifications@github.com> wrote:

[2015-06-08 09:52] jasonlewis commented on #417
Ha, good pick up. I never actually bound it to the container. Give me a few and I'll get that done. It'll be bound as `api.dispatcher`.

[2015-06-08 09:53] lightvision commented on #417
On 08.06.2015 12:52, Jason Lewis wrote:

Thanks.

[2015-06-08 09:53] Ortix92 commented on #417
Jason, you so silly

[2015-06-08 10:18] jasonlewis commented on #417
Okay it's pushed, you may update.

Prefixes aren't automatically added so you'll need to specify that if you're using a prefix.

[2015-06-08 10:29] lightvision commented on #417
On 08.06.2015 13:18, Jason Lewis wrote:

Under what key is the dispatcher? I cannot see any 'api.dispatcher'.

[2015-06-08 13:28] bweston92 commented on #432
I must say I'm having this issue.

[code]

I have the configuration setup with the group being `api` and the version being `v1`. However I'm getting a 404 when accessing `/api/time`.

[2015-06-08 13:29] bweston92 commented on #432
I've found that `Dingo\Api\Http\Request` the `$old` is fine and has everything yet `$new` is blank in terms of the path ect. This means that `Illuminate\Routing\RouteCollection@check` fails.

[2015-06-08 13:33] bweston92 commented on #432
![image](https://cloud.githubusercontent.com/assets/1764057/8035792/6032a704-0deb-11e5-8431-c40448760127.png)

[2015-06-08 13:38] catalinux commented on #432
@bweston92 Are you using Lumen or Laravel? I had same problem with Lumen last week: routes won't work after Friday update. (for now I stopped using Dingo)

[2015-06-08 13:39] bweston92 commented on #432
Laravel version 5.1.

[2015-06-08 13:44] bweston92 commented on #432
Ok this isn't the issue, I just seen Symfony's `preparePathInfo` which fills it from `REQUEST_URI` but I'm still stuck with this one.

[2015-06-08 13:44] lightvision commented on #432
On 08.06.2015 16:39, Bradley Weston wrote:

Please configure properly. I've the same issues but it works.

[2015-06-08 13:45] bweston92 commented on #432
Enlighten me.. I've got `config/api.php` setup correctly.

[2015-06-08 13:52] bweston92 commented on #432
In actual fact it is the `prefix` config that isn't working for me, any ideas?

[2015-06-08 13:56] bweston92 opened #458 "Default route prefix from config."
I have the `config/api.php` filled out. I have my `prefix` as "api" so therefore the following route should be matched by `/api/time`.

[code]

However the `Illuminate\Routing\Matching\UriValidator` is returning false on the following comparison. `#^/time$#s` is matched by `/api/time`.

Am I doing something wrong? When I remove the `prefix` option the service provider throws an exception for not b

[2015-06-09 04:49] lightvision commented on #432
Short answer: It is working, with prefix. If you want to use it with API_DOMAIN you must setup the subdomain properly first.

Long answer:

On app/Providers/RouteServiceProvider.php, I have the following code

[code]

The **ApiRouteServiceProvider.php** class is a **RouteServiceProvider** which will map the routes for api

Here is the content of the **\App\Api\v1\Providers\ApiRouteServiceProvider*

[2015-06-09 08:16] lightvision commented on #417
What "dingo/api" version should be required in the composer.json?
I see the dispatcher on the master branch but not in the develop...

Thanks

[2015-06-09 08:20] bweston92 commented on #432
I can ensure that the prefix doesn't work for me. If I specify it in my "group" then yes but the default config `API_PREFIX` doesn't work. I have opened an issue #458

[2015-06-09 19:30] sebastiaanluca commented on #398
Too bad this breaks my application with almost each `composer update`, as even the Lumen framework composer package is not a fixed release.

Is there a way to use the latest stable Lumen release? The problem is it requires `"illuminate/support": "5.0.*",` but Dingo/api needs `"illuminate/support": "5.1.*@dev"`.

[2015-06-09 19:43] catalinux commented on #398
@sebastiaanluca : you should define those two mehtods on Application class for Lumen.  Just define them and it will work (i know its a monkey  patch, but it works)

[2015-06-09 20:16] sebastiaanluca commented on #398
@catalinux Might work locally, but whenever I would update or install packages my change would be gone as the vendor directory is volatile.

I can't really pinpoint the issue. Is this due to a dev commit in the lumen framework package or something else?

[2015-06-09 20:22] Anahkiasen opened #460 "[L5] Laravel Adapter overrides all routes from base app"
In the Laravel adapter you do this in the dispatch method:

[code]

This replaces all the base routes with the API's, which means if like me you have a controller that returns views per example (for components generation and stuff) all `URL::route` calls (and similar) refering to base routes will fail.

Isn't there a way to merge the base + API routes? By doing a `getRoutes` on the original router

[2015-06-09 20:27] catalinux commented on #398
@sebastiaanluca: True, my advice was for locally development , so you won't loose time till it will be a fix

The problem was that there were added these two methods on Container class (from Contracts package) https://github.com/laravel/framework/commit/80c277a9984174b166c3fd79ab41b52dd4db8ec4, but the Lumen did not had time to update.

[2015-06-10 03:48] jayhealey commented on #457
Investigating the FastRoute object gets messy quickly.

I had a quick stab at building up the routes...

[code]

The value of `$routeGroups` is an array in two parts: first part listing the simple routes (without parameters) and the second part being the parametrised routes.

The simple routes are easy to hack into a simple list:

[code]

However, the parametrised routes in FastRoute are more comp

[2015-06-10 04:50] jasonlewis commented on #460
Yeah that should be what happens. Something I overlooked.

On Wed, 10 Jun 2015 06:22 Maxime Fabre <notifications@github.com> wrote:

[2015-06-10 06:26] lightvision opened #461 "Please fix the middleware displayed by artisan"
```php artisan route:list``` displays the class name of the middleware instead of the middleware name when Dingo/Api is enabled.

[2015-06-10 09:50] yanguanglan commented on #398
hi, i was composer update ,but this error show;
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - dingo/api 0.9.x-dev requires illuminate/support 5.1.* -> satisfiable by il
luminate/support[v5.1.1].
    - dingo/api 0.9.x-dev requires illuminate/support 5.1.* -> satisfiable by il
luminate/support[v5.1.1].

[2015-06-10 10:36] catalinux commented on #398
@yanguanglan  see https://github.com/dingo/api/issues/447

You need to put in your composer.json
[code]

[2015-06-10 11:50] camilstaps commented on #398
@yanguanglan I had this problem as well, see just a bit above for the solution:

https://github.com/dingo/api/issues/398#issuecomment-109573403

[2015-06-10 22:30] jasonlewis commented on #458
You need to specify the prefix in both the configuration and in your route declarations.

[code]

[2015-06-10 22:30] #458 closed

[2015-06-10 22:39] jasonlewis commented on #460
Fixed, the old, existing routes will now be merged with the API routes.

[2015-06-10 22:39] #460 closed

[2015-06-10 22:47] jasonlewis commented on #398
**NOTE**: Due to some new methods in a contract that is required by Laravel 5.1 the Lumen side of things will not work until such time that the Lumen framework is updated to utilize the 5.1 components. I'll be in touch with Taylor when I can to see if he's got an ETA lined up for that.

[2015-06-10 23:03] jasonlewis commented on #461
Sorry I'm not sure what you mean, can you please clarify?

[2015-06-10 23:03] jasonlewis commented on #417
`0.9.*@dev` still, the alias has been updated to point to the `master` branch now. I'll remove the `develop` branch for now to avoid confusion.

[2015-06-11 04:52] lightvision commented on #461
Sure. In the **App\Http\Kernel.php** there are the $routeMiddleware defined:
[code]

Before enabling the Dingo\Api ```php artisan route:list``` show the middleware by its name: *guest*, *auth.basic* and so on.

After enabling the Dingo\Api the same commands show the middleware by its class: *App\Http\Middleware\RedirectIfAuthenticated* instead of *guest*

[2015-06-11 11:22] esbenp opened #462 "[L5] Request validation breaks router"
If I make input validation on a request using a request class like so

[code]

it breaks the router on invalid input. The request class will issue a `RedirectResponse` and the Dingo router is expecting a normal `Response` resulting in the following exception being thrown.

[code]

I don't know if changing the type hinting to `Symfony\Component\HttpFoundation\Response` and dropping the `getOriginal

[2015-06-11 13:21] BradleyDeLar commented on #398
Lumen 5.1 is due "near the end of the month" https://twitter.com/laravelphp/status/608982072804392960

[2015-06-11 13:22] jasonlewis commented on #398
Excellent, cheers for the link.

On Thu, 11 Jun 2015 23:21 Bradley De-Lar <notifications@github.com> wrote:

[2015-06-11 14:26] BRupholdt commented on #318
This is still an issue in Laravel 4

[2015-06-11 14:31] GrahamCampbell commented on #318
Laravel 4 isn't maintained anymore.

[2015-06-11 14:35] BRupholdt commented on #318
Got it.  So I should forget ever adding anything to my *ancient* L4 apps and port them all to L5.

[2015-06-11 14:37] DeanWard commented on #318
While I agree that abandoning L4 is a little premature at this point I think you could probably word your response better @BRupholdt - these guys don't owe you anything.

[2015-06-11 15:09] jasonlewis commented on #318
I don't have the time to maintain a package across 2 major versions of the
framework.

On Fri, 12 Jun 2015 00:37 Dean Ward <notifications@github.com> wrote:

[2015-06-11 15:10] jasonlewis commented on #318
Also, it wouldn't be feasible considering the nature of the package and the
differences in how Laravel works internally.

On Fri, 12 Jun 2015 01:10 Jason Lewis <jason.lewis1991@gmail.com> wrote:

[2015-06-11 21:57] joselfonseca opened #463 "[L5] Redirect issue when Dingo API installed"
Hey there!, i am adding dingo to an existing Laravel 5 app and i've been able to manage pretty much everything well, but, if i have a redirect response in the app i get this error:

[code]
Thanks!

[2015-06-12 03:15] daimonhunter commented on #398
hi,I'm getting the following error on L5.1 :
`
Argument 2 passed to Dingo\Api\Exception\Handler::__construct() must be of the type array, null given, called in D:\web\L51_demo\vendor\dingo\api\src\Provider\ApiServiceProvider.php on line 97 and defined
`

my config/app.php has

[code]

my routes.php

[code]

Any ideas?

[2015-06-12 04:33] daimonhunter commented on #398
hi i'm getting the following error on Laravel5.1 when visit url:http://localhost/api/users
[code]

my routes.php has

[code]

and I do have `UsersController.php ` under the `app\Http\Controllers` floder

any ideas?

[2015-06-12 04:40] lightvision commented on #398
The controller UsersController is namespaced or not? If is namespaced you should use full namespaced class or declare the namepace property.

I've tried with namespaced controllers found on other paths too and is working.

[2015-06-12 04:40] jasonlewis commented on #398
You'll need to give the full namespace as well.

On Fri, 12 Jun 2015 14:33 daimonhunter <notifications@github.com> wrote:

[2015-06-12 04:53] daimonhunter commented on #398
@lightvision @jasonlewis
Thanks

It's working with namespace

[2015-06-12 09:55] xLink commented on #461
can confirm this; sample output from `php artisan route:list`

 Domain | Method                         | URI                                                              | Name                      | Action                                                                                  | Middleware
|--------|--------------------------------|-------------------------------------------------------

[2015-06-12 10:59] xLink opened #464 "[L5.1] api doesnt seem to be able to resolve from main router"
Just got all setup, finished porting my stuff over from the older base, but it looks like the Dingo Router cant resolve routes from the Laravel Router.

Full Stack Trace:
[code]

The route in question is registered
[code]

and just to make sure laravel see's it..
[code]
 Domain | Method                         | URI                                                              | Name

[2015-06-12 11:32] Murwa commented on #398
Hey @jasonlewis, when are we likely to have a stable version for L5.1?

[2015-06-12 11:39] vinkla commented on #398
@Murwa You can start using it today. It is working fine.

[2015-06-12 11:42] lightvision commented on #398
Yep, it's working fine. There are still 2 issues: mising the artisan command to see the api registered routes and wiki documentation :)

[2015-06-12 11:44] vinkla commented on #398
Yeah, currently it requires some digging by developers to use it but everything works great. Since it almost works as previous versions the documentation is still good for reference.

[2015-06-12 11:49] Murwa commented on #398
I've got this in my routes.php
[code]

and added

to app.php

But i get an exception

Is there something I'm missing?

[2015-06-12 13:25] kostaspt commented on #398
@Murwa I think you should add `Dingo\Api\Provider\ApiServiceProvider` too.

[2015-06-12 13:37] lightvision commented on #398
Please, try to read this issue FIRST and post only if you didn't find an answer. Otherwise it will be hard for others to find the info need it to setup the Dingo\Api for up and running.

@jasonlewis Please delete my comment if you find it offending.

[2015-06-12 13:43] lightvision commented on #457
Me too since hunting to the api routes is a nightmare, 'cause I have a lots of routes.

@jasonlewis I was looking to the Dingo\Api code for L4 and the only problem to make the artisan to show the api routes is a missing method ```getApiGroups()```

[2015-06-12 14:18] Murwa commented on #398
I checked the [Wiki](https://github.com/dingo/api/wiki), read #213 before reading this. Probably something changed, coz I can't get it right.

[2015-06-12 14:29] lightvision commented on #398
See issue #432 for full answer.

[2015-06-12 21:58] BRupholdt commented on #318
My apologies @jasonlewis   I took your initial response poorly when I was only meaning to add to the thread in what I thought was a polite way.  I shouldn't have been snarky about it.

[2015-06-12 22:01] GrahamCampbell commented on #318
I'm saying Laravel 4 is not maintained, and already has known security vulnerabilities regarding its encryption component. I'd recommend upgrading to Laravel 5.1 ASAP.

[2015-06-12 22:03] GrahamCampbell commented on #318
I was not saying this package should abandon L4, i'm saying L4 is already abandoned anyway, so why still support it if it doesn't even support itself if you see what I mean?

[2015-06-12 22:08] BRupholdt commented on #318
That makes good sense.  I just read it in the wrong context.  I'm stuck on L4 until I can port to L5, hopefully soon.

[2015-06-12 22:10] GrahamCampbell commented on #318
Sure. L5.1 is an LTS release, so you'll get bug fixes until May 2017 and security fixes until May 2018. Way better than the support L4.2 got. :)

[2015-06-13 03:46] jasonlewis commented on #464
So you're saying you can't access regular routes when you have API routes registered? The API shouldn't touch the regular routes at all. If they aren't registered with the API router then they won't be executed by the API.

[2015-06-13 03:46] jasonlewis commented on #463
You're redirecting in an API endpoint? You shouldn't be.

[2015-06-13 03:47] jasonlewis commented on #462
Is it set it stone that it must return a redirect response? An API endpoint shouldn't be redirecting.

[2015-06-13 03:48] jasonlewis commented on #457
I'm working on this at the moment along with something else.

[2015-06-13 03:57] joselfonseca commented on #463
Not an API endpoint, And i know an API should not have any views, the thing is that i have to add some API endpoints to an existing admin panel for an iPhone APP, this is a requirement for the project i am working on for a client. I was looking at the Router and i could not figure out a way to work around it, first thing that came to my mind was to create a class that extends dingo Router and over

[2015-06-13 04:54] lightvision commented on #318
**Swaggervel** works without any issues on L5.1 + Dingo\Api.

I had tested and works great. Unfortunately Swagger-PHP doen't allow documentation for multiple api versions.

[2015-06-14 20:05] Wit3 opened #465 "no matching package found : league/fractal"
Hi,
if i try to install the package ("dingo/api": "0.8.*" ) in my composer.json when i try to update my composer i show this error

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - dingo/api v0.8.3 requires league/fractal 0.11.* -> no matching package found.
    - dingo/api v0.8.2 requires league/fractal 0.11.* -> no matching package found.
    - dingo/

[2015-06-14 20:06] GrahamCampbell commented on #465
Set your minimum stability correctly and DO NOT require fractal your self.

[2015-06-14 20:12] Wit3 commented on #465
@GrahamCampbell  how can I do?
this is my required array in composer.json

"require": {
    "laravel/framework": "5.0.*",
    "illuminate/html": "5.*",
    "laravel/socialite": "~2.0",
    "stripe/stripe-php": "1.*",
    "twbs/bootstrap": "3.*",
    "twbs/bootstrap-sass": "3.*",
    "fortawesome/font-awesome": "4.*",
    "mcamara/laravel-localization": "1.0.*",
    "yajra/laravel-datatables-oracle

[2015-06-14 20:20] GrahamCampbell commented on #465
Delete `"league/fractal": "^0.12.0",`.

[2015-06-14 20:25] Wit3 commented on #465
If i try to delete it i'll get this error
[code]

[2015-06-14 20:26] GrahamCampbell commented on #465
Yeh, this package doesn't work on laravel 5.0. You need to upgrade to 5.1.

[2015-06-14 20:26] GrahamCampbell commented on #465
That'll meant you'll need to find a new html package. Maybe try out the laravel collective one.

[2015-06-14 20:29] Wit3 commented on #465
Ok, thank u for the support! i think i'll update to laravel 5.1 thanks!

[2015-06-14 20:29] #465 closed

[2015-06-15 13:07] xLink commented on #464
all im doing there is calling `route('pxcms.user.view', $model->id)` as a transformer, so i can reference `['links']['self']` in the array, but it doesn't look like while im in an api route, i can resolve anything that got registered by the regular router

[2015-06-15 13:11] xLink opened #466 "[L5.1] config stops config:cache working"
the api config currently has this:

[code]

the closure there will break the `config:cache` from working, is there anyway you can rework the code to avoid the closure being needed, was thinking something like:

[code]

then the `config:cache` will work and and we can still use the speed boost :D

[2015-06-15 13:39] tymondesigns commented on #466
This is an issue in a few libraries now (including my own)

https://github.com/tymondesigns/jwt-auth/issues/147
https://github.com/lucadegasperi/oauth2-server-laravel/issues/323
https://github.com/efficiently/authority-controller/issues/27

[2015-06-15 16:22] xLink commented on #466
looks like there is a fix here: https://github.com/efficiently/authority-controller/issues/27#issuecomment-101974857

will try it when i get home and report back

[2015-06-15 17:02] tymondesigns commented on #466
Yep `SuperClosure` can be used to serialize it.

[2015-06-16 16:59] prapats opened #467 "Error when authenticating with OAuth"
Hi,

I have this following route:

[code]

If I unprotect the route group, the `Protected Endpoint` string is returned correctly. However, if I protect the route group.

The error `call_user_func() expects parameter 1 to be a valid callback, no array or string given` is thrown.

I'm not sure if I've done anything wrong.
Please suggest.
Thank you.

[2015-06-16 17:04] prapats commented on #467
Sorry, my bad, I forgot to set the callback in the config.

[2015-06-16 17:04] #467 closed

[2015-06-16 19:44] BradleyDeLar commented on #398
It looks like Taylor tagged Lumen 5.1 a few minutes ago :smile:

[2015-06-16 22:13] jrm2k6 opened #468 "[L5.1] Route Caching"
It seems that route caching and dingo/api doesn't work.
We have this route:

[code]

And we got the following when route caching is enabled:

[code]

Clearing the route cache fixes it.

[2015-06-17 08:15] GrahamCampbell commented on #468
5.0 isn't supported by dingo.

[2015-06-17 12:19] jrm2k6 commented on #468
5.1 sorry
On Jun 17, 2015 1:15 AM, "Graham Campbell" <notifications@github.com> wrote:

[2015-06-17 12:37] develpr commented on #398
@lightvision Unless I missed something, @Murwa shouldn't have to add the `ApiServiceProvider` manually as the Laravel/Lumen service provider will automatically register it:

See https://github.com/dingo/api/blob/master/src/Provider/LaravelServiceProvider.php#L40

[2015-06-17 12:51] lightvision commented on #398
On 17.06.2015 15:37, Kevin Mitchell wrote:

ApiServiceProvider shoudn't be added. It should add
LaravelServiceProvider or LumenServiceProvider, based on the used
framework, Laravel or Lumen.

[2015-06-17 12:55] develpr commented on #398
@lightvision yes, this is what I'm saying. In a comment above @kostaspt was telling @Murwa that he should also add `Dingo\Api\Provider\ApiServiceProvider` as well as the Laravel service provider. Just after that you said "yes, you are right" to kostaspt, which at least made it seem like you were confirming that @Murwa should add the ApiServiceProvider.

I was just mentioning that in fact he should

[2015-06-17 18:17] srph opened #469 "Wiki: ControllerTrait does not exist"
I just checked the wiki, and I was wondering if the [Responses](https://github.com/dingo/api/wiki/Responses) wiki is a bit outdated. I was trying to find `Dingo\Api\Routing\ControllerTrait`, but it [does not exist](https://github.com/dingo/api/tree/master/src/Routing).

[2015-06-17 18:33] catalinux commented on #469
in the dev version  there is a Helper trait.

[2015-06-17 22:18] srph commented on #469
Alright, will test that out. Are the docs a bit outdated?

[2015-06-17 23:43] jayhealey commented on #398
I suspect it might be worth making `ApiServiceProvider` abstract, so it's more obvious it can't be used as a provider.

[2015-06-18 00:24] jasonlewis commented on #398
Yeah probably best.

On Thu, 18 Jun 2015 09:43 James Healey <notifications@github.com> wrote:

[2015-06-18 03:02] jasonlewis commented on #331
So I've been working on this a little bit and have some rough things working, nothing has been pushed yet. Just looking for feedback on the syntax. I'm using the `doctrine/annotations` library so I'm limited in some ways as to how it can look but for the most part I think it's pretty good.

It will only work with controllers. A controller is defined like so...

[code]

You can also give the resour

[2015-06-18 03:02] jasonlewis commented on #469
Docs are yes, will be working on them soon once I sort a few more issues out.

[2015-06-18 03:02] #469 closed

[2015-06-18 03:03] jasonlewis commented on #468
I am yet to test with route caching. Will check it out.

[2015-06-18 03:05] jasonlewis commented on #466
I'll look into simplifying the configuration as much as I can. I'm afraid it may mean configuring it in other places though, which is probably less than ideal.

[2015-06-18 03:05] jasonlewis commented on #464
Okay I'll take a look, cheers.

[2015-06-18 03:07] jasonlewis commented on #463
The API endpoints should *never* return views. Ever. It should return data. That's it.

I feel like I'm missing something though. Please show some code or something so I can get a better idea of what it is you're trying to achieve.

[2015-06-18 03:15] jasonlewis commented on #468
For now my suggestion is to define API routes in a separate `routes.php` file, perhaps an `api.php` file. Then in your `RouteServiceProvider::boot` method simply require this file manually.

[2015-06-18 03:15] jasonlewis commented on #466
I'll look into simplifying the configuration as much as I can. I'm afraid it may mean configuring it in other places though, which is probably less than ideal.

[2015-06-18 03:19] jasonlewis commented on #464
Just did a very quick test and it seems to be working fine here. Have you run `composer update` recently, because the day before you opened this issue I pushed a fix that merges the routes in with the regular routes.

Are they by any change the same URI with the same domain/prefix (that shouldn't be possible)?

[2015-06-18 03:32] jasonlewis commented on #461
I can't reproduce. Can you reproduce in a fresh install of L5.1 with the latest Dingo and share the routes file that causes this.

[2015-06-18 03:35] jrm2k6 commented on #468
Thanks,  let me know if I can help
On Jun 17, 2015 8:03 PM, "Jason Lewis" <notifications@github.com> wrote:

[2015-06-18 04:13] joselfonseca commented on #463
Thanks for Reply, I don't think is necessary since i was able to manage the fact that an API should not have views and the Admin Panel should be a separate app, I turned my use case in favor of the api.

However, if you do `return redirect()->to('/home')` in a laravel APP that has Dingo installed, it brakes since the response being returned from the controller is not an instance of `Illuminate\Htt

[2015-06-18 04:36] jasonlewis commented on #463
Returning a redirect response from a route that has nothing to do with the
API shouldn't break, even with Dingo installed. If that's the case then
it's a bug. I'll test this when I can, but I just don't see how it would
break as the Dingo router will never touch routes outside of its scope.

On Thu, 18 Jun 2015 14:13 Jose Luis Fonseca <notifications@github.com>
wrote:

[2015-06-18 04:55] lightvision commented on #331
It's quite nice and cleaner than swagger-php.
You should take into account the multiple versions of the api that mai exists, so at least @version should exits and match a defined version in the api.
That way we could have te api documentation in one place and browse by version.

[2015-06-18 04:58] jasonlewis commented on #331
Yeah need to add in a version annotation. It'll accept an array of versions
and the command will take a version number to generate documentation for.

On Thu, 18 Jun 2015 14:55 Marius Ionel <notifications@github.com> wrote:

[2015-06-18 05:16] vugtis commented on #463
Hello. I encountered the same issue. After digging a little bit, I found out that what I want is 'Making an Internal Request' as instructed on https://github.com/dingo/api/wiki/Internal-Requests.
I think @joselfonseca  maybe want the same thing.

I think here is the case :
- There is an App with Admin Panel
- He create API with Dingo package
- When he send request using Form in his App (Admin Pane

[2015-06-18 05:18] srph commented on #469
:+1:

[2015-06-18 05:19] lightvision commented on #463
Internal request works as expected but I susspect that I will have some troubles with data validations through Form Request as well. I have not time to digg today because I'm working on the frontend of may app, but I will provide feedback very soon.

[2015-06-18 05:37] vugtis commented on #463
Can you hint me how to do it so I can do some trial and error on my own?
I have this on my routes.php :
[code]
Normally, I reach this code via :
[code]
And now I want to do internal request from another Controller I have.
Can you give me a little snippet how to do it? Since the one on wiki can't be used. Or maybe I am missing something. I can't use API facade and can't find ControllerTrait.

[2015-06-18 05:48] lightvision commented on #463
Get an instance of api.dispatcher from the IoC (in the controller where you want to make an internal request):
[code]
then call the dispatcher, for example:
[code]
The paramenter of the ``get`` is an api route. I've specified the ``version('v1)`` because I want to be clear to what api version is called internally, but is not required. If not provided it will fall back to last version.

Off topic:

[2015-06-18 06:10] vugtis commented on #463
@lightvision Thank you  . It works beautifully.

[2015-06-18 08:24] gdg87 opened #470 "[L5.1] How to use Response Factory"
Hi, I don't understand how to use the default response provided by dingo with the 0.9.*@dev version on laravel 5.1.
How can I use it in a generic function of a controller?

[2015-06-18 08:58] jasonlewis commented on #470
Use the `Dingo\Api\Routing\Helpers` trait in your controller. From there you have access to a number of helper methods that let you create responses.

[code]

Not a great example but the `response` property will let you return certain responses.

[2015-06-18 08:58] #470 closed

[2015-06-18 13:21] xLink commented on #464
i've just done another composer update, to which nothing for api got updated, double checked my routing etc,

even went as far as to copy the functionality to a route registered normally, and that seemed to work properly :/

[2015-06-18 17:33] jrm2k6 commented on #468
We actually have multiple route files that we include. So we don't have a single routes.php file.

[2015-06-18 19:06] xLink commented on #466
i had a look locally, it worked without issue, so i created a pull request

[2015-06-18 21:14] catalinux opened #472 "Class Doctrine\Common\Annotations\SimpleAnnotationReader does not exist"
After I added `    "doctrine/annotations":"*",` to my composer.json and `composer update` it stoped throwing errors.

[2015-06-18 22:15] jasonlewis commented on #472
Indeed. Silly mistake on my part.

On Fri, 19 Jun 2015 07:14 catalinux <notifications@github.com> wrote:

[2015-06-18 22:38] jasonlewis commented on #472
Fixed.

[2015-06-18 22:38] #472 closed

[2015-06-18 22:40] jasonlewis commented on #464
What commit is your copy of Dingo\Api up to? You should be on at least f1b2fb32fe4aaa81cf96ce7a2b5de288395e1af8.

[2015-06-18 22:41] jasonlewis commented on #468
But you include them from within `routes.php`, right @jrm2k6?

[2015-06-18 22:46] jrm2k6 commented on #468
yep!

we have something like that:

[code]

[2015-06-18 22:47] jasonlewis commented on #468
Okay cool, that's all good. For now just include your API routes separately from the provider. The only reason it throws the error is because once you cache the routes the original `routes.php` file is never loaded so the API routes are never registered.

[2015-06-18 22:49] jrm2k6 commented on #468
You register the apis route later in the process? How do the api routes
registration works in few sentences?

On Thu, Jun 18, 2015 at 3:47 PM, Jason Lewis <notifications@github.com>
wrote:

--
Jérémy Dagorn
www.jeremydagorn.com

Android apps I developed:
https://play.google.com/store/apps/developer?id=JumyApps

[2015-06-18 22:53] jasonlewis commented on #468
They don't get registered later in the process. They just don't get cached.

In a nutshell, all API routes are registered with the API router and not the Laravel/Lumen router. This is so we can do a few things such as have duplicate URIs for different versions.

So, because they're not registered with the Laravel router they aren't cached with the Laravel routes. Once you have cached your Laravel

[2015-06-19 09:26] torniker commented on #189
+1 need this package for laravel 5.1

[2015-06-19 09:26] jasonlewis commented on #189
It's available for 5.1.

On Fri, 19 Jun 2015 19:26 Tornike <notifications@github.com> wrote:

[2015-06-19 09:32] torniker commented on #189
@jasonlewis  thanks

[2015-06-19 09:36] bweston92 opened #473 "Guarding with `auth` middleware."
Guarding an endpoint with `auth` middleware produces this error.

[code]

[2015-06-19 09:39] jasonlewis commented on #473
You should be using the API authentication and not Laravels.

On Fri, 19 Jun 2015 19:36 Bradley Weston <notifications@github.com> wrote:

[2015-06-19 09:40] bweston92 commented on #473
Just found that after looking at the code-base. When will documentation be updated?

[2015-06-19 09:40] #473 closed

[2015-06-19 09:47] xLink commented on #464
bah yeah i was on https://github.com/dingo/api/commit/b7dead2cd388428af9d4d8463a82d676482b0d5b for some reason composer wouldnt get the newer versions, removal of the composer lock & vendor directory solved that problem.

Which looks like it solved this issue too :D

[2015-06-19 09:48] jasonlewis commented on #464
Excellent. Yeah sometimes a stale cache isn't busted by Composer.

On Fri, 19 Jun 2015 19:47 Dan Aldridge <notifications@github.com> wrote:

[2015-06-19 14:48] bweston92 opened #474 "Laravel's response objects."
Using Laravel's Requests for validation ect throws an exception. Somewhere this is being created into a json response but Dingo doesn't like it.

[code]

[2015-06-19 16:49] fabianpimminger commented on #398
I'm currently stuck with an old version of this package and i can't get composer to update to the latest commit. Anyone knows what I am missing?

	"require": {
		"laravel/framework": "5.1.*",
		"dingo/api": "0.9.*@dev",
	},

	"minimum-stability": "dev",
	"prefer-stable": true

[2015-06-19 16:52] GrahamCampbell commented on #398
Remove the `@dev`, run `composer clear-cache`, and then try again.

[2015-06-19 18:11] ghprod commented on #474
Yes, its because `$this->validate` automatically return instance of `Illuminate\Http\JsonResponse` if request was AJAX .. workaround for right now maybe we should using manual validator

[code]

waiting for other for better idea :)

[2015-06-19 18:13] bweston92 commented on #474
Actually, I like the fact I'm not having to put it in my controller, one of the main reasons I've upgraded. I'd prefer if this sort of stuff works or has a very similar method.

[2015-06-19 18:16] ghprod commented on #474
Yes, i'd like to write code like this too :+1:

![image](https://cloud.githubusercontent.com/assets/1922652/8259862/03d438f8-16ea-11e5-96e9-0b411a416520.png)

[2015-06-19 20:28] vugtis commented on #474
Yeah, same problem I had today. I fix it this way.
[code]
And don't forget this :

[code]

Some note aside : If you use code above as internal request, it will throw an error. Some modification are still needed.

[2015-06-19 22:26] ghprod commented on #474
@vugtis wow, nice, at least we can use `$this->request` .. hehhee ..

Thanks

[2015-06-20 02:37] #464 closed

[2015-06-20 02:38] jasonlewis commented on #474
Duplicate of #462. I'll take a look at this today folks, see what I can come up with.

[2015-06-20 02:38] #474 closed

[2015-06-20 06:03] jasonlewis commented on #462
So after playing around with this for a bit it seems that it's going to be tough to address this issue in a way that would be best.

The exception thrown by the validator is caught manually by Laravel and the response automatically returned. I would've liked to have been able to catch this exception myself but that doesn't seem possible.

I'll look at other ways to resolve this. Simply type-hintin

[2015-06-20 07:07] esbenp commented on #462
I checked it out a little bit the other day. It seems the redirect is not the wanted behaviour for API requests.

`Illuminate\Foundation\Http\FormRequest\
[code]

So if the first entry of the `Accept` header is `application/json` or if `X-Requested-With` is equal `XMLHttpRequest` the redirect is not happening.

If I remember correctly we got the redirect response when debugging around in curl, and

[2015-06-20 09:47] ghprod commented on #462
seems like extends FormRequest would be nice :)

[2015-06-20 09:49] jasonlewis commented on #462
No, redirects shouldn't occur for an API endpoint. Basically, if you were to access an endpoint that had the validator in it from your browser (directly, default headers), and it failed then you'd get a `RedirectResponse`.

I'm not so sure a custom `FormRequest` would suffice as there's multiple ways to do validation. You can either use the form requests or you can use the `ValidatesRequests` trai

[2015-06-20 14:14] esbenp commented on #462
Ah yes you are right.

What do you think, the solution could be either (1) leave it to the client to add appropriate headers, or (2) extend Laravel to enforce API-like responses on validation errors (i.e. `JsonResponse`)?

I am all in for adding an `ApiRequest` class and a `ApiValidatesRequest` trait (or whatever it would be called) that extend from the base Laravel classes and enforces API friend

[2015-06-20 19:26] thecotne commented on #398
[code]

am i doing it wrong?

[2015-06-22 04:53] vugtis opened #475 "Different Fractal Serializer on Each Response"
Hi,
Is it possible to set different serializer for fractal on each response? My front end use different plugin for displaying table. Each of them expect different format of json.

I was hoping something like :
[code]

I tried a workaround which I override api.transformer on dingo and set fractal serialize on the fly, but I think it is not very clean.

[2015-06-22 08:46] bweston92 commented on #462
Any updates? I don't want to put this logic in my controller makes it so ugly. I'm fine with a `ApiRequest` that handles this.

[2015-06-22 10:31] JoeDawson commented on #463
Hey!

I'm receiving a similar thing I believe, I got the same error at least...

[code]

This is actually something I'm getting when accessing routes on my existing project, that worked prior to installing.

For example, in my existing L5.1 app - when access the `/login` route - which by the way is nothing in relation to my API routes and attempt to log in (has always worked) - it throws the above

[2015-06-22 16:46] ghprod opened #476 "How to testing with header bearer Jwt in Laravel 5.1"
Hi,

i use JWT for my auth and i'm trying to write some test to see json output when using expired token, but seems like i never success to pass `Header Authorization Bearer` through request, here's my code

[code]

And this is my result test, with error output same with condition where there's no token given in header

[code]

But when test it via Postman, everything is fine

![image](https://clo

[2015-06-22 18:54] vugtis commented on #476
Have you checked your failed request using debugging tools? If the issue is missing authorization header, you need to enable rewrite module and adding authorization header to your config.
You might want to check this : https://github.com/tymondesigns/jwt-auth/wiki/Authentication

[2015-06-22 20:17] joselfonseca commented on #463
@JoeDawson That is the same issue i have. Installing dingo in a working laravel APP Brakes the laravel responses.

Say you want to have an API, if you only issue JSON responses across the entire project, no issues are found and that is great, an API should be it's own project anyways. But if you have an existing APP and you want to add some API endpoints to that project, install Dingo and then the

[2015-06-22 21:00] ghprod commented on #476
hi @vugtis  .. thanks for your reply, actually i can reproduce that with postman, and i'm using nginx, but still when write test code, i'm unable to get same result with postman :(

any idea to write the test?

[2015-06-23 13:25] JoeDawson opened #478 "Questions regarding JWT Authentication"
Hey!

Nice to see this package has now made it into 5.1 - currently working with JWT and am having a couple of issues I thought I'd ask.

### 1. Why does my user not stay authenticated?

I'll quickly explain as far as I've managed to get.

Currently, I have all - barring one - of my API routes protected. The only route that isn't protected is my `/login` route that allows for authentication (my AP

[2015-06-23 13:52] catalinux commented on #478
Hi,

You are saying that you do not want to send your request with your token in query string of GET request. Where do you add your token for your request? Can you  give us your api call (from JS or what ever you use)

When you make a request http://localhost.dev/api/me?token=myToken (from wget for example)  what refresh do you expect to happen?

[2015-06-23 14:07] JoeDawson commented on #478
@catalinux that's my question, how do I refresh the token? Is it a standard to pass the token as a URL param for every call?

I don't have any JS making requests right now, I'm just using Postman for the time being to make my calls.

![screen shot 2015-06-23 at 14 58 30](https://cloud.githubusercontent.com/assets/1009696/8307808/918923cc-19b8-11e5-89bb-3012ea14adea.jpg)

With the above call, the t

[2015-06-23 19:27] tymondesigns commented on #478
Hi Joe,

Sounds good to me.

I believe you need to add this snippet to your apache `.conf.` file as apposed to the `.htaccess` to make it work.

The included refresh middleware is intended for a single use token flow, meaning it will not refresh the token transparently.

See my comment here - https://github.com/tymondesigns/jwt-auth/issues/127#issuecomment-109747049

[2015-06-23 19:48] JoeDawson commented on #478
Hey @tymondesigns, thank you very much for getting back to me.

Back in the office tomorrow so will get that added to the Apache config. Thanks for clearing that up :)

Will take on board your comment tomorrow also and implement 2 routes as suggested. Appreciate the help!

[2015-06-23 21:18] fabianpimminger commented on #398
@GrahamCampbell Thanks, got it working again.

[2015-06-23 22:41] Anahkiasen commented on #462
I managed to make FormRequests work with `dingo/api` by doing this personally:

[code]

Kind of generic but at least it works

[2015-06-24 03:26] vanntian opened #479 "is any demo about 0.9dev ?"
The present document is aimed at 0.8.*,i feels a little difficult.

[2015-06-24 16:28] jrm2k6 commented on #468
Sorry for the delay in getting back to you.
I will check your solution and see how it goes.

Thanks!

[2015-06-24 18:13] Ortix92 commented on #398
So.. how would I use the internal dispatcher? I kind of got out of the loop due to finals so I'm not sure what is working and what is not. Facades are not working yet, right?

So I would have to resolve it out of the ioc container and do something like `$api->get('/uri');`?

[2015-06-24 19:32] Ortix92 commented on #479
I'm also lost

[2015-06-24 19:50] tomschlick commented on #476
That message means the token is valid but it has expired so you need to regenerate a new one. You'll have to bake it into your test to generate a new token for each run.

[2015-06-24 20:07] tomschlick commented on #466
Following your advice, my config looks like this

![image](https://cloud.githubusercontent.com/assets/70184/8340188/cf26692e-1a8a-11e5-833a-f9f98c6842ec.png)

I get this error when hitting any artisan command / http endpoint afterwards

![image](https://cloud.githubusercontent.com/assets/70184/8340211/06caa606-1a8b-11e5-9967-370abdc03417.png)

Anyone else seeing this?

[2015-06-24 23:57] hallids commented on #479
My routes file is something like this, if it helps:

[code]

[2015-06-24 23:59] escapisam commented on #479
My routes file is something like this, if it helps:

[code]

[2015-06-25 01:13] tanshiqi opened #480 "dingo/blueprint 0.1.* -> no matching package found."
Hi,
When I try to update the package i got this error:

Problem 1
    - dingo/api dev-master requires dingo/blueprint 0.1.* -> no matching package found.
    - dingo/api dev-master requires dingo/blueprint 0.1.* -> no matching package found.
    - Installation request for dingo/api dev-master -> satisfiable by dingo/api[dev-master].

PS: my laravel version is 5.1

[2015-06-25 04:56] MovingGifts opened #481 "[L5.1] Outdated wiki needs updated sample working code"
Due to the outdated instructions in the wiki, can someone put a clear working sample code for others to be able to get up and running on Laravel 5.1 from the composer installation issues scattered all over, to setting up the routes/controllers? Just a simple dummy working sample code, like Laravel 5.1 docs do. It is hard for people to use this out of the box when they are new and docs are outdated

[2015-06-25 07:12] tymondesigns commented on #481
I highly doubt dingo will ever be merged into laravel's core; for many reasons.

[2015-06-25 07:52] ghprod commented on #462
@Anahkiasen could you show how to use that code?

THanks :)

[2015-06-25 08:00] lightvision commented on #481
The Dingo/Api for L5 is still in development. Everybody (I am not included) works to this project in their spair time, so wiki (I think) is not on the road map yet.

There was already some working code posted. You have to search for it. I know it's hard to find to closed isses but if anybody which tries dingo/api and fails open an issue for a missed configuration on its side then will become even

[2015-06-25 08:01] ghprod commented on #476
@tomschlick Yes, thats expired, but why when i test it its always return

[code]

Expected result must same with postman result :)

Thanks

[2015-06-25 08:01] lightvision commented on #457
Thanks, it is working like a charm.

[2015-06-25 08:01] #457 closed

[2015-06-25 08:16] Anahkiasen commented on #462
Same as you'd use any FormRequest, you extend it, define your rules, and inject the extending class into a method

[2015-06-25 08:20] ghprod commented on #462
Ah got it, Thanks :+1:

[2015-06-25 08:28] dakiquang commented on #398
Hi @argia-andreas,

I'm getting an error like you:

-----
I had added this line in config/app.php
Dingo\Api\Provider\LaravelServiceProvider::class ,

and in routes.php:
[code]

[2015-06-25 09:27] TolotraRam commented on #398
Hi,
What is the right version to install dingo/api on laravel 5.1.2, tried all imaginable options but always got :
Your requirements could not be resolved to an installable set of packages.

Problem 1 :
- The requested  package dingo/api could not be found  in any version, there may be a typo in the package name.

All tested composer.json :
"require": {
        "php": ">=5.5.9",
        "laravel/f

[2015-06-25 09:48] Ortix92 commented on #398
@TolotraRam remove the `@dev`

[2015-06-25 10:12] TolotraRam commented on #398
hi @Ortix92 ,

removed the @dev :

"require": {
"php": ">=5.5.9",
"laravel/framework": "5.1.*",
"dingo/api": "0.9.*",
},
"config": {
"minimum-stability": "dev",
"prefer-stable": true
}

do a composer clear-cache
and then do a composer update

Got the same issue.

[2015-06-25 10:13] Ortix92 commented on #398
`"dingo/api": "**0.9.***",

[2015-06-25 10:17] TolotraRam commented on #398
oh sorry forget to write it but got the same issue.

[2015-06-25 10:19] Ortix92 commented on #398
Remove this:
[code]

and add this to the bottom of your composer.json:
[code]

[2015-06-25 10:22] TolotraRam commented on #398
Ah got it finally thanks @Ortix92 !!

[2015-06-25 10:34] kevindierkx commented on #480
Try setting the ```"minimum-stability"``` to ```dev``` in your laravel project.
The last time I've checked the dingo/blueprint package wasn't tagged and the above was required for composer to get the dev-master branch.

[2015-06-25 11:07] dakiquang opened #482 "are any reference document about version .0.9.*?"
Hi @all,

I'm at a loss because there are not any document about version 0.9.*

[2015-06-25 11:56] lightvision opened #483 "Disable pagination on internal request"
There is any way to disable pagination on internal request?

I need this because the results are shown in dataTables() and using pagination give me only a partial results to be displayed.

Or there is any other way to achieve this?

[2015-06-25 12:18] #417 closed

[2015-06-25 17:24] Ortix92 opened #484 "Class api.dispatcher does not exist"
Like the title says. When I try to resolve the dispatcher from the IoC container, the app throws that exception.

[2015-06-25 18:01] #484 closed

[2015-06-25 18:01] Ortix92 commented on #484
I updated to `dev-master`

[2015-06-25 18:05] bweston92 commented on #483
On the API request have the controller check something like `limit` and if `limit=0` in the request input then tell the repository not to paginate results?

[2015-06-25 19:33] ismaelaarab commented on #398
Hi

I get a error on `php artisan vendor:publish` :

  `[ErrorException]
  Argument 2 passed to Dingo\Api\Exception\Handler::__construct() must be of the type array, null given, called in C:\wamp\www\souq\vendor\dingo\api\src\Provider\ApiServiceProvider.php on line 11
  8 and defined`

[2015-06-25 20:19] Ortix92 commented on #398
@ismaelaarab use CTRL+F

[2015-06-25 21:41] ismaelaarab commented on #398
@Ortix92 i already searched I did not find the solution on the page.

[2015-06-25 22:31] jasonlewis commented on #483
Yeah I'd opt for something like what @bweston92 has suggested. I usually use that parameter to also limit the number of items per page. A limit of 0 indicates that the items should not be paginated.

[2015-06-25 22:31] #483 closed

[2015-06-25 22:33] jasonlewis commented on #482
I'm working on updating the docs now. You can still review the [Wiki](https://github.com/dingo/api/wiki) but keep in mind some things have changed. #398 is the main thread about all the changes although it's getting a little cluttered. I'll get the docs updated as soon as I'm able. :smile:

[2015-06-25 22:33] #482 closed

[2015-06-25 22:36] jasonlewis commented on #481
I'm working on the docs now. Hopefully get it done by the end of the weekend or earlier.

I'm doubtful that this would end up in the core of Laravel. It'd be cool. But I doubt it.

[2015-06-25 22:36] #481 closed

[2015-06-26 01:44] dakiquang commented on #482
Hi @jasonlewis,

Thank for your response. We are looking forward to new document about 0.9.*.

[2015-06-26 02:37] dakiquang commented on #398
Hi @ismaelaarab,
Comment the line `"dingo/api": "0.9.*",` and try command in root folder first `php artisan vendor:publish`
Then try to comment out `"dingo/api": "0.9.*",` and try again

[2015-06-26 05:39] thecotne commented on #398
@ismaelaarab you need to replace apiServiceProvider with laravelServiceProvider or LumanLerviceProvider in config

[2015-06-26 05:43] tomschlick commented on #398
Can we have people open up separate issues for support and keep this for high level discussion?

[2015-06-26 05:45] lightvision commented on #398
:thumbsup:

[2015-06-26 05:53] tomschlick commented on #479
Remove the call to ApiServiceProvider. You shouldn't be calling that directly. Just the laravel one

[2015-06-26 05:56] tomschlick commented on #475
You could set a $serializer attribute on each class and automatically set the serializer in a base class.

[2015-06-26 06:21] tomschlick commented on #462
@Anahkiasen turning that into a trait which could then be added to the base form request might be even better.

That would make it easy to implement and doesn't require extending the base.

something like this

[code]

[2015-06-26 06:37] khlipeng commented on #398
Thank you.

[2015-06-26 08:23] Anahkiasen commented on #462
A trait might be the best approach indeed if `dingo/api` were to ship with something

[2015-06-26 12:23] Frankisgek commented on #480
You can also just add dingo/blueprint to your composer.json like this:
    "require": {
        "dingo/blueprint": "dev-master",
        "dingo/api" : "dev-master"
    }

[2015-06-26 14:18] #478 closed

[2015-06-26 17:56] lightvision commented on #462
I personally like the @Anahkiasen solution without a trai. That's the way that FormRequest works for laravel too,by extending a base class (to be able to make customizations)

[2015-06-26 22:31] jasonlewis commented on #476
I'll play around with this and see what's up. Have you debugged it to the point where you can confirm that the header isn't being sent or you're not too sure yet?

[2015-06-26 22:33] jasonlewis commented on #479
Documentation is being updated.

And as @tomschlick mentioned, you only need to register either the `LaravelServiceProvider` or `LumenServiceProvider` depending on what framework you're using.

[2015-06-26 22:33] #479 closed

[2015-06-26 22:34] jasonlewis commented on #480
Avoid using `dev-master`. Simply use `0.1.*@dev` and `0.9.*@dev` respectively.

I've also just tagged a `0.1.0` for the `dingo/blueprint` repository.

[2015-06-26 22:34] #480 closed

[2015-06-26 22:41] jasonlewis commented on #475
I've just implemented a method to let you grab the transformation layer adapter from the factory, so you can do something like this.

[code]

Not elegant but should suffice.

[2015-06-26 22:41] #475 closed

[2015-06-26 22:52] jasonlewis commented on #475
Actually I just made the callback receive the Fractal instance so you should be able to do something like this now.

[code]

[2015-06-27 00:58] jasonlewis commented on #468
Did I not update this? My bad! Okay, with Laravel 5.1 you can now cache your API routes as well as your Laravel routes. The command is as follows:

[code]

To make this work I've had to have the command run the frameworks `route:cache` command as well. So you'll end up with a cached routes file that contains a call to set the framework routes and a call to set the API routes.

This is also only av

[2015-06-27 00:58] #468 closed

[2015-06-27 01:01] jasonlewis commented on #331
Going to close this. If we need to discuss formatting or issues further feel free to start up a new issue, or post here, and we'll get it re-opened. I think for now it's fine.

[2015-06-27 01:01] #331 closed

[2015-06-27 01:03] jasonlewis opened #485 "[Documentation] Things To Add"
This issue will remain locked and serves only as a reminded to myself of what I still need to add to the documentation.

- [ ] Console commands, `api:cache`, `api:routes`, and `api:docs`.
- [ ] Controller helper trait needs a good overview, currently it's mentioned in various sections.
- [ ] More details on custom extenders, e.g., transformer adapters, rate limit throttles, authentication provider

[2015-06-27 05:04] lightvision opened #486 "Catch No query results for model ..."
I know that this is a dummy question, but how could I catch No query results for model in the ``show($id)`` method when the specified id doesn't exist in the database?

I've tried the following, but no luck:
[code]
And whithin the catch block I want to send a custom error response.

Any help appreciated.

[2015-06-27 05:12] jasonlewis commented on #486
That should work what you've posted. You should be catching it before Dingo
gets the chance. If it's not catching it then try adding a leading
backslash to your type hint. Not sure if you're using namespaces or not.
You can also register a custom handler with the API exception handler, this
will handle the exception everywhere it's thrown in your API.

app('api.exception')->register()

Give it a c

[2015-06-27 05:18] lightvision commented on #486
The error is not from leading backslash, tried with or whithout it. I will try to see if it works with custom exception handler and I will report back.

[2015-06-27 05:19] jasonlewis commented on #486
Well you'll need to import that class or reference it's full namespaced
name if you're using it within your own namespaces.

I'll take a better look when I get back to my computer.

Is the exception being handled by the package? Can you catch it? Errors?

On Sat, 27 Jun 2015 15:18 Marius Ionel <notifications@github.com> wrote:

[2015-06-27 05:20] lightvision opened #487 "Latest commits breaks Request::segment(2)"
After a recent update Request::segment(2) returns me the segment of the route api instead of the app routes when the api is called internally.

[2015-06-27 05:21] lightvision commented on #486
On 27.06.2015 08:19, Jason Lewis wrote:

It is imported. No dummy errors even the question is dummy :)

[2015-06-27 05:23] jasonlewis commented on #487
Post an example of what you mean. I'll be back at my computer later.

On Sat, 27 Jun 2015 15:20 Marius Ionel <notifications@github.com> wrote:

[2015-06-27 05:23] catalinux commented on #486
This is how I did it:

[code]

[2015-06-27 05:23] jasonlewis commented on #486
So what happens? Nothing?

On Sat, 27 Jun 2015 15:21 Marius Ionel <notifications@github.com> wrote:

[2015-06-27 05:28] lightvision commented on #487
Oops, ``Route::currentRouteName()`` gives me the wrong answer.

The answer is "api.admin.clients.index" instead of "admin.clients.index"

[2015-06-27 05:32] jasonlewis commented on #487
Okay no worries there's a few fiddly things with the internal dispatcher.
Can you paste exactly what you're doing so I can easily recreate and write
tests for it when it's fixed. Where you're calling currentRouteName, how
you're calling the dispatcher, etc. As much info as you can.

On Sat, 27 Jun 2015 15:28 Marius Ionel <notifications@github.com> wrote:

[2015-06-27 05:37] lightvision commented on #487
Excerpt from the controller that self cosumes my api:

[code]

Excerpt from ``admin.clients.index`` view:
[code]

Basically 'Route::currentRouteName()' should return the `admin.clients.index` but it returns `api.admin.clients.index`.

The code before was working before, even in L4 ;)

[2015-06-27 05:42] lightvision commented on #486
@catalinux Thanks, it's working. But how should I catch the same error in my controller that self consume my api?

[2015-06-27 05:45] jasonlewis commented on #487
Define before? Can you give an exact commit. I know it worked in L4 but a
lot has changed since then in terms of how routes are handled. It should be
an easy fix though I hope.

Also, FYI, a very recent commit will automatically add the prefix you
define in your config to internal requests if you don't specify it. So you
can remove that config call.

On Sat, 27 Jun 2015 15:37 Marius Ionel <notific

[2015-06-27 05:51] lightvision commented on #487
On 771f81d commit was working.

Regarding the prefix, I've read this. It is put there because I don't want to change my controllers in case that my boss wants the public api to be with prefix and I have an 1:1 mapping between app routes and api routes, so admin.clients.index coresponds to api.admin.clients.index

[2015-06-27 05:55] lightvision commented on #487
Fixed:

I catch the \Dingo\Api\Exception\InternalHttpException in the controller I've made internal request.

Not an ellegant way since dingo api should thrown errorNotFound and not InternalHttpException.

@jasonlewis any sugestions on this?

[2015-06-27 06:34] jasonlewis commented on #487
It's only supposed to throw the `InternalHttpException` when the returned response is non-successful, i.e., any 4xx response.

You should be able to simply throw an exception from your API controller and it'll be re-thrown for internal requests. However, looking at the source, it's not doing that. I'll resolve that. If you'd like a not found exception to be thrown then you'll have to manually thro

[2015-06-27 06:40] jasonlewis commented on #487
Okay resolved. You can throw exceptions from your controllers (you were supposed to be able to) and they'll be dealt with properly on regular API calls, however, internal calls the exception will fall through and you'll be able to catch and deal with it accordingly.

The reason the response builder methods behave differently is because they return an actual error response instance. They don't thro

[2015-06-27 06:41] jasonlewis commented on #486
Refer to the other issue.

Response builder will always yield an `InternalHttpException`. Throw your own `HttpException` instances to catch them where you internally call your endpoints.

[2015-06-27 06:41] #486 closed

[2015-06-27 12:29] sicaboy opened #489 "Cannot install from composer."
Hey guys, I failed to install api. Anyone can help with these?
According to the wiki, I tried the following command:
![qq20150627-1](https://cloud.githubusercontent.com/assets/2426114/8391969/c58239aa-1d1b-11e5-8ce5-e7dff5e7d583.png)

Then I tried by removing the version:
![qq20150627-2](https://cloud.githubusercontent.com/assets/2426114/8391971/e83ebcfc-1d1b-11e5-8a4d-b36594e8a697.png)
    - Inst

[2015-06-27 13:19] dharmendrajadon opened #490 "Strict Mode not working"
Setting API_STRICT in .env file, it is not checking for accept header

[2015-06-27 13:49] vugtis commented on #475
Thank you. That should do the trick. I'll test it soon. Anyway, I've found another issue about transformer. But I guess I will open new thread about that. Cheers.

[2015-06-27 14:11] vugtis opened #491 "Serializer never reach item function"
Hi again,
I found this few days ago. When I am serializing my "collection", it works perfectly, but when I serialize an "item", it will throw an error.
Here is what I found from my digging.

On SerializerAbstract class (Fractal package), item function 2nd argument force the $data to be array. But since I return an item, it throws and error cause it needs an array.

Then I try to wrap my result ite

[2015-06-27 14:18] vugtis commented on #489
Have you add this on composer.json?
[code]

[2015-06-27 14:19] GrahamCampbell commented on #489
You can't use this with laravel 5.0.

[2015-06-27 17:44] MovingGifts opened #492 "[L5.1] Transformer rendering blank"
I've setup everything as it should be for the response to return a collection transformation, but it just renders a blank page, no data what so ever. I have debug turned on but no errors show up. I am not sure if it has to do with this line not being in:

https://github.com/dingo/api/wiki/Transformers#register-a-transformer-for-a-class

Not sure where that should go, I had an old and working versi

[2015-06-27 22:24] camilstaps opened #493 "Named routes (Lumen 5.1, Dingo 0.9.*)"
I've recently started to rewrite my current code based on the Dingo API to work with Lumen 5.1 instead of Laravel 5.1. I'm using Dingo 0.9.*. My full current code can be found at https://github.com/Botleagues/API/tree/lumen.

On Laravel 5.1, I could use `route('user.show')` to get the `UserController@show` route, which I defined as

    $api->resource('user', 'CamilStaps\BotleaguesApi\Controllers\

[2015-06-27 23:10] ghprod commented on #476
@jasonlewis

seems like my header being lost after this line https://github.com/laravel/framework/blob/5.1/src/Illuminate/Foundation/Testing/CrawlerTrait.php#L677

Thanks :)

[2015-06-27 23:24] jasonlewis commented on #492
I'll clarify that line in the documentation a bit.

Usually you'd register the transformer for the class in your bootstrap file. Basically, all it's saying is when an instance of the `User` model is returned we want the `UserTransformer` to be used.

So anywhere where you return the `User` model it'll be transformed with the `UserTransformer`.

Can you paste some examples of what you're trying to

[2015-06-28 00:19] jasonlewis commented on #493
Aye, I need to cover this in the documentation. It's on my todo list. The package has it's own URL generator. I'll need to create some helper methods to make these easier to use but for now you can do it like so...

[code]

You must specify the version for it to work.

---

I've just pushed an update that fixes a couple issues with generating URIs in Lumen. Should be good to go now. :+1:

[2015-06-28 00:31] jasonlewis commented on #476
Okay having a dig through the code it seems you may need to pass your headers in a little differently.

For more details refer to PHP docs: http://php.net/manual/en/reserved.variables.server.php
It mentions a couple of the headers but looking at the Symfony source I'd say you can send others should you need to so long as you prefix them with `HTTP_`.

Basically, you need to prefix any headers `HTT

[2015-06-28 00:31] #476 closed

[2015-06-28 00:38] jasonlewis commented on #491
Hm, you shouldn't need to remove the `array` type-hint in the abstract class. An item is still an array. It's just not a multi-dimensional array.

I just tested this with the standard `DataArraySerializer` and returning both a collection and item work fine. What is `$result`? Is it an object or an array? Does your `NullTransformer` return an array that can be used by the serializer?

[2015-06-28 00:41] jasonlewis commented on #490
Fixed. Forgot to pass in the config. Cheers.

[2015-06-28 00:41] #490 closed

[2015-06-28 00:42] jasonlewis commented on #489
Looks like it's trying to install for 5.0 because you didn't specify the version. You'll need to either set your `minimum-stability` above or use `0.9.*@dev`, not sure you can do that via the command line though.

[2015-06-28 00:42] #489 closed

[2015-06-28 00:44] jasonlewis commented on #462
Hm, I'm torn. I'll try a few more things but from the looks of it a trait/class seems like the best bet here. Bare with my folks I'll update again soon.

[2015-06-28 00:53] jasonlewis commented on #466
I've not used the serializer for config caching so can't give you any advice here.

I still need to look more into this issue. I guess for now if this isn't work don't cache your config. That or do your API related config in a bootstrapping file as everything can be configured on runtime.

Here's how you'd do authentication.

[code]

The wiki covers the others.

[2015-06-28 03:22] tomschlick commented on #468
So can the api routes live inside of the main routes now? Or should we still be loading from the routes SP?

[2015-06-28 03:29] jasonlewis commented on #468
Yeah main routes file is fine.

On Sun, 28 Jun 2015 13:22 Tom Schlick <notifications@github.com> wrote:

[2015-06-28 03:32] vugtis commented on #491
I just tried again. I tried both returning Object and Array
Case A :
I use  ```$result = $this->model->where('_id', '=', $id)->get()``` ,
$result is :
[code]
and ```$this->response->item($result,new NullTransformer);``` gives unserialize data. I tried using ```dd(1)``` in both item and collection in DataArraySerializer, and the code didn't reach there.
If I use ```$this->response->collection($resu

[2015-06-28 04:16] tomschlick commented on #468
Awesome. Thanks!

On Sat, Jun 27, 2015 at 11:29 PM Jason Lewis <notifications@github.com>
wrote:

[2015-06-28 05:47] MovingGifts commented on #492
Yup sure, so here is where I am a little confused. I was able to get the data, but not using what the documention is showing, maybe you can explain a little what I am doing wrong, or not understanding about the not working document part or benefit of using it as opposed to the working data method from my previous fractal version file below.

So this is what I used when it was not working in the Us

[2015-06-28 06:19] jasonlewis commented on #492
Okay you're getting a bit muddled here. That contract you're implementing
is for a transformation layer. Fractal is a transformation layer. You don't
need to worry about that contract. Just use Fractal as is described in the
Fractal documentation. I'll take a look at the docs to clarify it but I do
mention at the top the terminology that will be used. It is a tad confusing
though.

On Sun, 28 Jun

[2015-06-28 07:05] MovingGifts commented on #492
Oh makes sense, yeah that confused me. I think if it's worded something like you can use the fractal as is described in their docs or implement your own version instead using this (code below).

Either way, thank you for clearing it up so quickly and thank you for all your hard work on this amazing plugin! You're awesome dude!

[2015-06-28 07:05] #492 closed

[2015-06-28 07:05] ghprod commented on #476
@jasonlewis Thanks a lot.. its works now :+1:  :100:

[2015-06-28 07:07] jasonlewis commented on #492
Cheers! And thank you for using it. :)

On Sun, 28 Jun 2015 17:05 MovingGifts <notifications@github.com> wrote:

[2015-06-28 09:59] camilstaps commented on #493
@jasonlewis thanks for the quick response. (On my installation) this seems to work for `*.index` routes alone, not for for example `user.show`. I did some testing and it seems that this closure from `ApiServiceProvider@boot` is never executed:

    $this->app->rebinding('api.routes', function ($app, $routes) {
        var_dump($routes);
        $app['api.url']->setRouteCollections($routes);
    })

[2015-06-28 10:05] camilstaps commented on #493
It seems the only usage of `api.routes` is in `ApiServiceProvider@boot` and `Router@setAdapterRoutes`. The only usage of the latter is in `Cache@handle`, so if I'm not mistaken something's missing there. Although they could be used indirectly (where simple grep doesn't help). Obviously, you know the internals better than I.

[2015-06-28 11:35] tanshiqi commented on #480
It works. Thanks so much

[2015-06-28 13:13] dharmendrajadon opened #494 "Accept header could not be properly parsed because of a strict matching process"
It is asking for accept header on all routes
local.ERROR: 400 - exception 'Symfony\Component\HttpKernel\Exception\BadRequestHttpException' with message 'Accept header could not be properly parsed because of a strict matching process.' in /home2/bhuvamka/public_html/apcivilsupplies.com/protected/vendor/dingo/api/src/Http/Parser/Accept.php:66

[2015-06-28 16:38] Shemahmforash opened #495 "Errors with $api = app('api.router') in Laravel 5.1"
Hello all.

I've been trying to configure the library following the wiki and also issue #398, but still haven't managed to make it work properly.

These are the steps I followed:
  * In a updated laravel 5.1 installation, I've added "dingo/api": "0.9.*" to composer.json
  * Ran `composer update`
  * Added Dingo\Api\Provider\LaravelServiceProvider::class to the providers array in config/app.php
  *

[2015-06-28 16:59] catalinux commented on #495
Can you shous us your config file for api (or you .env file)?

[2015-06-28 17:10] Shemahmforash commented on #495
Thanks for the quick file. No specific config file for the api, I just have this in the .env file:

API_PREFIX=app
API_STRICT=false

[2015-06-28 19:05] bviolier opened #496 "preg_match_all errors with router in Lumen v5.1.1"
Hi,

I just installed a fresh version of Lumen v5.1.1 with the dingo/api dev-master.

I followed the installation instructions and added to app.php:
[code]

To my routes.php I added:
[code]

Whatever I fill in in the first or second parameter of the get (or if I do post), I keep getting the following error:
[code]

I tried replacing the code in Std.php with the newest version of nikic/fast-route,

[2015-06-28 22:27] jasonlewis commented on #494
If you've got `strict` mode enabled then you won't be able to access your API via your web browser. You'll need to pass a valid accept header through either Postman or by using cURL from your console.

[2015-06-28 22:31] dharmendrajadon commented on #494
Yes, I know! But my normal Routes are not working. "Accept header could not be properly parsed", even on webpages too.
$api = app('api.router');
$api->version('v1',['namespace' => 'App\Http\Controllers', 'protected' => true, 'prefix' => 'api'], function ($api) {
    $api->post('oxybiometric', 'Restcontroller@index');
});

[2015-06-28 22:32] jasonlewis commented on #494
Ah I see! Roger, I shall re-open and investigate then.

[2015-06-28 22:36] jasonlewis commented on #496
Um, you're missing the the method for that route. You specify the controller by not the `@method` that the route uses.

[code]

You'll also need to get the instance of the router in the `routes.php` file as it's no longer handed between the bootsrapping file and the routes file.

[2015-06-28 22:36] #496 closed

[2015-06-28 22:51] jasonlewis commented on #494
Can you run `composer update` and confirm all is well?

[2015-06-28 23:00] jasonlewis commented on #495
I followed your instructions to the letter and I'm unable to reproduce this. I've seen a few people report this error where it seems the configuration isn't been loaded but so far I've never been able to reproduce it.

You're not doing anything wrong that I can see. Is there a more detailed stack trace that you can possibly share? Might be logged in a log file.

[2015-06-28 23:46] jayhealey opened #497 "Trouble using response()->paginator - results aren't paginated."
I'm attempting to use the `paginator` response on a collection, but it's not paginating the results.

Here's the code:

[code]

The `data` attribute contains all of the results, and whilst `meta` attribute data looks fine, the `total` is the same as `count`:

[code]

Am I missing anything here?

[2015-06-28 23:51] jasonlewis commented on #497
Looking at the source of Fractal and Laravel I'd say that's what's to be expected with what you've passed in.

https://github.com/thephpleague/fractal/blob/master/src/Pagination/IlluminatePaginatorAdapter.php#L80
https://github.com/illuminate/pagination/blob/master/AbstractPaginator.php#L408

[2015-06-28 23:55] jasonlewis commented on #497
Usually when manually constructing a paginator instance you're required to slice the items beforehand.

[2015-06-28 23:57] jayhealey commented on #497
Ah, fair enough. I'll do that then - cheers.

[2015-06-28 23:57] #497 closed

[2015-06-29 06:51] bviolier commented on #496
Sorry for not clearing that up earlier. Not having the @method in the examples is just because I almost tried everything. Also with the @method it doesn't work.
The router instance I currently get in the bootstrap/app.php, and that part seems to work. But I started with getting the instance in routes.php, and I switched it up to the app.php to see if that helped.

Also, when change Std.php to not

[2015-06-29 10:15] dharmendrajadon commented on #494
It's working perfect. Thank You

[2015-06-29 10:16] dharmendrajadon commented on #494
When do we expect Facade and stable version?

[2015-06-29 10:40] bweston92 commented on #497
@jayhealey what's wrong with using `Illuminate\Pagination\Paginator` it will automatically slice for you.

https://github.com/laravel/framework/blob/5.1/src/Illuminate/Pagination/Paginator.php#L64

[2015-06-29 11:10] lightvision commented on #497
@bweston92 In order to be compatible with dingo/api you must use LenghtAwarePaginator (because Fractal needs it). So simple pagination is out of discussion.

Digging further, you need to create LenghtAwarePaginator instance on your own if you want to disable pagination for your ow internal requests to your api.

[2015-06-29 16:39] revengel opened #498 "Unable to test API controllers. (PhpUnit)"
Hi! I'm trying to test the API Controller's functionality. I find some method to do this.

[code]

But I received the follow error:

[code]

Are there some other ways to test this functionality? Thanks.

[2015-06-29 18:07] catalinux commented on #498
first you need to tell us wheather you use Lumen or Laravel. I was able to test like this
[code]

[2015-06-29 19:05] revengel commented on #498
I use Laravel 5.1. Do I can test controller dirrectly (without Route calling)? Thanks for ur answer.

[2015-06-29 19:05] Shemahmforash commented on #495
Well, I created a different laravel 5.1 blank project and followed the instructions in the wiki and now it works fine.

The difference for the other project is that in that project I also have other dependencies in composer.json (maybe some dependency is in conflict with dingo/api?). I'm going to try to debug the problem in the other project by removing the dependencies one by one to see how it go

[2015-06-29 19:13] Shemahmforash commented on #495
Found out a way of making it work well in the original project:
I had: `"dingo/api": "0.9.*"` in the require-dev field of the composer.json and at the bottom: `"minimum-stability": "dev"`
If I remove the `"minimum-stability": "dev"` and use the following to specify the dingo dependency: `"dingo/api": "0.9.*@dev"`, it works like a charm.
Perhaps there's a conflict with some laravel dependencies in

[2015-06-29 22:28] jasonlewis commented on #498
You can't call the routes with their action or name from tests.

On Tue, 30 Jun 2015 05:05 revengel <notifications@github.com> wrote:

[2015-06-30 03:52] dtirer commented on #383
@jameswagoner Hi James, i'm actually having the same issue, but i'm not sure what you're referring to with API:error().  Could you be more specific?

[2015-06-30 04:29] james-daddies commented on #383
`API::error()` is an function that gets called on error much like `App::error()`. I was using `Response::json()` to format my error messages which conflicts with Dingo. Dingo will already return json since that is what I specified in my Accept headers.

I am running things differently now TBH. I have changed my API to always return a 200 response with a success or failure value in addition to the

[2015-06-30 15:05] bweston92 commented on #497
I don't see why Fractal has done that, both provide the same information. Anyhow will have to remember this one.

[2015-06-30 15:09] lightvision commented on #497
Do a dd() of a resource with both paginator methods and see the results.

Also check http://laravel.com/docs/5.1/pagination.

Pay attention to `Additional Helper Methods`. By default Laravel will paginate using LenghtAwarePaginator in L5.1, so it's not the fault of dingo/api or fractal. They had to obey.

[2015-06-30 17:03] bviolier commented on #496
It seems to have been a problem with PHP 5.5.25 in combination with that regex. Swiftmailer had exactly the same problem: https://github.com/swiftmailer/swiftmailer/issues/259

[2015-06-30 17:19] Exelord opened #499 "[L5.1] Custom Request Class"
Hi,
I use own Custom Request class which is extended of illuminate\http\Request. And when I install dingo/api package my methods are "not found". Is the way to fix that? When I add my functions to yours Dingo\Api\Http\Request every things works OK, but I think its no correct solution.

[2015-07-01 08:21] MovingGifts opened #500 "[Internal Request] Distpatcher to return transformed data"
I've setup an API end point and trying to use a regular route to return the transformed data, but only the pre-transformed data is returned by the dispatcher. Is there a way to return the transformed api data with the dispatcher?

[2015-07-01 10:00] SergeyMiracle opened #501 "Composer can't find and install package."
Command fails - composer require dingo/api:0.9.*

[2015-07-01 10:46] jasonlewis commented on #494
Both hopefully soon. Still ironing out a few bugs as people stress test more things.

[2015-07-01 10:46] #494 closed

[2015-07-01 10:47] jasonlewis commented on #500
Can you please run `composer update` and try using the fixed `raw` method.

[code]

You should then be able to use the `getContent` method on the response object to get what you need. Note that this will be JSON.

[2015-07-01 10:48] jasonlewis commented on #499
I'm guessing they're only not found for API requests. This package also utilizes it's own request class which you've seen. I might be able to tweak a few things so you can also extend this request class and then allow it to be rebound.

[2015-07-01 10:49] #498 closed

[2015-07-01 10:50] jasonlewis commented on #495
I don't think there'd be any conflicts. If this package is required by your application it should most certainly not be in `require-dev`. Is it all working now?

[2015-07-01 10:55] jasonlewis commented on #501
Try with `composer require dingo/api "0.9.*@dev"`.

[2015-07-01 10:55] #501 closed

[2015-07-01 12:27] camilstaps commented on #493
@jasonlewis any ideas? (Sorry to buzz you if this is still on a todo list somewhere, wasn't sure if this just takes some time or this issue got forgotten because it's closed now)

[2015-07-01 12:28] jasonlewis commented on #493
I'll reopen as a reminder. Sorry must've gotten lost. Cheers for the bump.

[2015-07-01 12:38] SergeyMiracle commented on #501
Yep, working. Thx.

[2015-07-01 16:14] MovingGifts commented on #500
Yup works flawlessly now! Thanks for the quick fix!

[2015-07-01 16:14] #500 closed

[2015-07-01 20:15] Shemahmforash commented on #495
You're right about the `require-dev`, it was my mistake. Yes, after removing the `"minimum-stability": "dev"` from the composer.json file and specifying the dingo dependency as `"dingo/api": "0.9.*@dev"` instead of `"dingo/api": "0.9.*"` it works like a charm.

[2015-07-02 09:27] SnehalAmbab opened #502 "Install dingo api on laravel 5"
Hello,

I would like to install dingo api on laravel 5.0

But its giving some error as

"Your requirements could not be resolved to an installable set of packages."

Please help me out.

[2015-07-02 09:28] catalinux commented on #502
To install this package you will need:

Laravel 5.1+ or Lumen 5.1+
PHP 5.5.9+

[2015-07-02 09:31] SnehalAmbab commented on #502
@catalinux can I do it on laravel 5.0?

[2015-07-02 09:37] catalinux commented on #502
I do not think it should work. You might try put these dependencies, but you should upgrate your app to 5.1, as 5.0 has no LTS (Long Time Support)
     "illuminate/auth": "5.1.*",
        "illuminate/cache": "5.1.*",
        "illuminate/events": "5.1.*",
        "illuminate/database": "5.1.*",
        "illuminate/pagination": "5.1.*",
        "illuminate/console": "5.1.*",
        "illuminate/file

[2015-07-02 09:39] jasonlewis commented on #502
There's no support for 5.0. You'll need to upgrade to 5.1 should you want
to utilize the package.

On Thu, 2 Jul 2015 19:37 catalinux <notifications@github.com> wrote:

[2015-07-02 10:42] jasonlewis commented on #493
Okay this should be fixed now. Remember, if you have a prefix, and you're using `resource` then the names will be `prefix.resource.method`.

[2015-07-02 10:42] jasonlewis commented on #493
Wait, I'll leave this open until I can get a confirmation all is well.

[2015-07-02 11:29] Exelord commented on #499
OK, so I done something like this:

[code]

and then I also seeing

[code]

[2015-07-02 14:37] camilstaps commented on #493
Works like a charm, thanks a lot!

[2015-07-02 14:37] #493 closed

[2015-07-02 23:11] MovingGifts opened #503 "[L5.1] Transformed relational data not returned"
I'm confused on how to return a post's comments paginated with dingo. Here is what I tried:

    class CommentController extends BaseController
    {
        public function index($postId)
        {
            // This works but not using transformers.
            $post = Post::find($postId);
            $comments = $post->comments;
            return $comments;

            // This doesn't work.

[2015-07-03 07:25] oriceon opened #504 "Cannot register two routes matching "/api/users" for method "GET""
I try to use this package (dingo/api": "0.9.*) on lumen 5.1 and get a BadRouteException

`Cannot register two routes matching "/api/users" for method "GET"`

in routes i have

[code]

and in .env i have
[code]

Where i`m wrong?
Thanks.

[2015-07-05 06:32] catalinux commented on #457
@lightvision : how did you make to work for you? For now I made a command that show a friendly scrapping of route adapter but is not accurately (i could not acces the generator direct on routecollector). https://gist.github.com/catalinux/baa48f2a73372950cebd

[2015-07-05 06:42] jasonlewis commented on #504
I have a fix pending for this I just need to tidy up tests. Sorry about the delay, I got a bit distracted.

[2015-07-05 06:59] jasonlewis commented on #504
All fixed now. Run `composer update` to grab the latest version.

[2015-07-05 06:59] #504 closed

[2015-07-05 07:00] jasonlewis commented on #503
Are you using Lumen? Can you check your error logs to see if there's something weird happening. Make sure you check both the PHP and Lumen/Laravel error logs.

[2015-07-05 07:01] #502 closed

[2015-07-05 07:36] jasonlewis commented on #457
Use api: routes command, only available in Laravel. Refer to the
documentation for more.

On Sun, 5 Jul 2015 16:32 catalinux <notifications@github.com> wrote:

[2015-07-05 07:39] vanntian opened #506 "Factory::setTransformer() is undefind"
$app['Dingo\Api\Transformer\Factory']->setTransformer(function ($app) {
    return new Dingo\Api\Transformer\Adapter\Fractal(new League\Fractal\Manager, 'include', ',');
});

[2015-07-05 07:41] jasonlewis commented on #506
Sorry the method is setAdapter. If it's still setTransformer in the docs
can you make an issue on Dingo/api-docs please? Cheers.

On Sun, 5 Jul 2015 17:39 Van Tian <notifications@github.com> wrote:

[2015-07-05 08:23] MovingGifts commented on #503
Totally my fault, I had an error in my CommentTransformer on L5.1 that only showed up after I manually emptied my laravel.log! Not sure why it was returning blank until I emptied the log, but it's working perfectly now. Thanks for your suggestion Jason!

[2015-07-05 08:23] #503 closed

[2015-07-05 08:45] vanntian commented on #506
@jasonlewis and transform is not work

public function index()
    {
        $categories = Category::all();

        return $this->collection($categories,new CategoryTransformer);
    }

public function transform(Category $category)
    {
        return [
            'id' => $category->id,
            'name' => $category->name,
            'sort' => $category->sort,
            'is-show' => $categ

[2015-07-05 08:53] jasonlewis commented on #506
Far as I can tell that looks correct and should be working fine.

On Sun, 5 Jul 2015 18:45 Van Tian <notifications@github.com> wrote:

[2015-07-05 08:55] catalinux commented on #457
@jasonlewis: I omitted, I made that command for Lumen . @jayhealey was talking about FastRoute , so I assumed that everybody talked about Lumen.

[2015-07-05 08:58] jasonlewis commented on #457
The only reason it doesn't work on Lumen is due to Lumen now having a
routes command. It's a part of the Laravel core. The API command extends
this command for the base functionality.

If you really need it you could install Laravel/framework and then remove
the if statement in the API service provider then prevents the commands
from registering. Or register the command yourself.

On Sun, 5 Jul 20

[2015-07-05 09:15] vanntian commented on #506
@jasonlewis thank you,i switched to api-response,it works fine

[2015-07-05 19:11] silentFred commented on #189
+1

[2015-07-05 22:31] jasonlewis commented on #189
I'm confused... What are you doing a +1 for? The package is available on
5.1.

On Mon, 6 Jul 2015 05:11 Frederick <notifications@github.com> wrote:

[2015-07-06 04:06] silentFred commented on #189
Excitement

On Mon, 6 Jul 2015 00:31 Jason Lewis <notifications@github.com> wrote:

[2015-07-06 04:17] oriceon commented on #504
Thanks. I confirm now is workin`

[2015-07-06 05:13] vanntian opened #507 "lumen,transformer does'n work"
bootstrap.php:
[code]
Controller.php:
[code]
CategoryTransformer.php:
[code]
CategoryController.php:
[code]
the result:
[code]

does't work

[2015-07-06 08:42] jasonlewis commented on #507
This all looks fine to me but I'll test it out later when I get the chance.

On Mon, 6 Jul 2015 15:13 Van Tian <notifications@github.com> wrote:

[2015-07-06 09:15] vanntian commented on #507
@jasonlewis crying :+1:

[2015-07-06 11:16] bweston92 commented on #507
@vanntian can you neaten up the code with some markdown?

[2015-07-06 11:33] vanntian commented on #507
@bweston92 changed

[2015-07-06 13:46] SnehalAmbab commented on #462
Hello,

I am getting issue like this

"Argument 1 passed to Dingo\Api\Routing\Router::prepareResponse() must be an instance of Illuminate\Http\Response, instance of Illuminate\Http\RedirectResponse given"

I have dingo api and laravel project under same version or we can say under same roof.

How can we run both things in same project?

Please let me know as soon as possible

[2015-07-06 22:43] #506 closed

[2015-07-08 03:24] maojindao55 opened #508 "L5.1 support dingo Error"
I had add this code into bootstrap/app.php like #398  but it did not worked!
Code:
[code]
Error:

[code]

[2015-07-08 05:40] nickrouty opened #509 "Lumen Sample Project"
Hello,

I'm pretty new to Laravel/Lumen and even newer to this package. Does anyone have a sample project that they could share that utilizes this package with Lumen? Preferably one that incorporates some of the more advanced features of this package such as the auth (JWT Token) configuration, etc.

Thanks!

[2015-07-08 14:58] nickrouty commented on #509
Does JWT auth package even work with Lumen? Going through their configuration it asks you to publish config, which Lumen doesn't seem to support. Anyone with prior experience here would be appreciated, trying not to waste time :)

[2015-07-08 15:08] catalinux commented on #509
@nickrouty , yes it works. Publisihing is a simple copy of a config file. You need to create your own jwt config fille in config folder, and have a CustomJWTAuthServiceProvider to ask for it

[code]
Lumen is a thin App with Laravel Core that has not all the features of Laravel, so it will help you learn very well how Laravel/Lumen works. For example, publishing  feature, its a simple copy of a fil

[2015-07-08 15:35] nickrouty commented on #509
@catalinux Awesome - thanks for your help. Now I'm trying to configure it with dingo/api. The auth page seems to leave out some details for someone that is very new to the framework. For example, what file the code needs to be added to, and I'm guessing that there will be a slight difference from what it instructs since I had to create this customer provider?

[2015-07-08 17:37] nickrouty commented on #509
I went ahead and switched over from Lumen to a fresh install of Laravel 5.1 - everything went smooth this time. I had initially switched from LV5 to Lumen, but I think there were some lingering issues with my upgrade from LV5 to LV5.1 that were causing my problems with using laravel in the first place.

[2015-07-08 17:37] #509 closed

[2015-07-09 00:15] jasonlewis commented on #508
If you're adding it to Lumen you need to use `LumenServiceProvider`, not the Laravel one. If you're using Laravel then add it in your `config/app.php` file to the array of providers.

[2015-07-09 00:15] #508 closed

[2015-07-09 00:19] jasonlewis commented on #507
I can't reproduce this. Assuming everything is autoloaded correctly it should be working fine. The code that you've pasted looks good.

[2015-07-09 00:19] #495 closed

[2015-07-09 00:39] jasonlewis commented on #487
Going to have to change things up a bit so that you can retrieve details regarding the current route and request as the Laravel router uses a hard-coded property instead of container instances.

[2015-07-09 00:40] jasonlewis commented on #463
There was an issue with how routes were being detected as API routes. Can you all update Dingo and let me know if these problems are persisting.

[2015-07-09 02:03] maojindao55 commented on #508
thx jason

[2015-07-09 06:45] MovingGifts opened #510 "Return a global authenticated user variable"
Instead of using this everywhere $this->auth->user(), is it possible to assign it to a variable like this:

    $authUser = $this->auth->user();

And use it globally? I tried adding it to a __construct method of the BaseController but doesn't work when calling the `$authUser` from any controller that extends it. What would be the correct way to do this?

[2015-07-09 06:53] jasonlewis commented on #510
You can just use $this->user() as a shortcut. That's a part of the helpers
trait.

On Thu, 9 Jul 2015 16:45 MovingGifts <notifications@github.com> wrote:

[2015-07-09 08:12] MovingGifts commented on #510
Yup that works - thanks! Just out of curiosity, if I were to assign it to a variable, how would I do that (not to assign the same variable in every controller of course) but have global access to it in all controllers, just like we have global access to $this->user(). Any pros/cons in doing that?

Thanks for the lightning fast response btw :)

[2015-07-09 16:26] vanntian commented on #507
@jasonlewis have any simple project about lumen?

[2015-07-09 19:01] alexcoffee commented on #510
Is it discouraged to create an Alias for it? Like we had the API::user() alias in v0.8?

[2015-07-09 20:19] riglar opened #511 "API router instance - Laravel vs Lumen"
Hi all,

I ran into issues when following this page with Laravel 5.1:
https://github.com/dingo/api/wiki/Creating-API-Endpoints

I spent ages trying to get this to work, but kept seeing method 'app' not defined.
`$api = $app['Dingo\Api\Routing\Router'];`

After hunting through the issues log it seems I actually have to use this..
`$api = app('api.router');`

Can anyone explain what the different is

[2015-07-10 05:56] SnehalAmbab opened #512 "JWT with dingo api laravel 5.1"
Hello,

I am building an api for user login with JWT

I got token after login.

Is there any way that I can get authenticated user details?

Also I would like to protect my API's with access token plus user_id.

How can I do that?

[2015-07-10 05:57] masnug commented on #414
500 gives blank page is happen in laravel too @jasonlewis

[2015-07-10 06:01] jasonlewis commented on #414
Sample code producing a blank screen?

On Fri, 10 Jul 2015 15:57 Wuri Nugrahadi <notifications@github.com> wrote:

[2015-07-10 06:20] masnug commented on #414
[code]
UserTransformer is throwing exception, but its just gave 500 blank page

[2015-07-10 06:21] catalinux commented on #512
As @jasonlewis  stated in https://github.com/dingo/api/issues/510 , you could use in a controller ,that uses Helpers trait ,$this->user()

Read more https://github.com/dingo/api/wiki/Authentication

[2015-07-10 09:09] SnehalAmbab opened #513 "explicitly expire token JWT"
Hello,

How can we explicitly expire the previous token on re-login or logout functionality?

Please let me know as soon as possible.

[2015-07-10 09:22] catalinux commented on #513
The JWT protocol does not have a mechanism of expiring. It has a machanism of blakclisting, and https://github.com/tymondesigns/jwt-auth/wiki has this kind of mechanism

[2015-07-10 09:27] SnehalAmbab commented on #513
@catalinux Can you please provide me some demo code for it?

[2015-07-10 09:36] catalinux commented on #513
@SnehalAmbab that is the only code you need to. Having a token, you could invalidate. You could get that throug GET.

[code]

[2015-07-10 09:56] SnehalAmbab commented on #513
@catalinux I want to expire previous token on login.

How can we get previously assigned token to a user?

[2015-07-10 12:45] catalinux commented on #513
I am not sure if there is any mechanism implemented on jwt-auth library. How you could do that depends on why you need that.

For instance in the validation process of the token you could check some info you put in the body of your token (for example token_creation), against a database where you have "last time token creation"

[2015-07-11 06:23] natsu90 commented on #381
Hey guys, I have the same error. I'm new to Lumen. Kindly take a look on my files and let me now what I'm missing. Thanks.
[code]
[code]
[code]

[2015-07-11 06:40] natsu90 commented on #398
Hey guys, I got 404 error. I'm new to Lumen. Kindly take a look on my files and let me now what I'm missing. Thanks.
[code]
[code]
[code]

[2015-07-11 06:48] jasonlewis commented on #398
Code looks fine. You've setup the package correctly by giving a domain or
prefix?

On Sat, 11 Jul 2015 16:40 Mohd Sulaiman <notifications@github.com> wrote:

[2015-07-11 07:39] natsu90 commented on #398
I've got `API_PREFIX=api` in `.env` file,
and `$app->register(Dingo\Api\Provider\LumenServiceProvider::class);` in `bootstrap/app.php`.

I've also tried below in `routes.php`, going to `/api/v1/auth` still have same error.
[code]

[2015-07-11 08:10] jasonlewis commented on #398
You shouldn't be specifying the version in the URL, just use `/api/auth`.

[2015-07-11 08:21] natsu90 commented on #398
Oho. Thanks alot @jasonlewis.

[2015-07-11 16:13] wind930 opened #514 "Target [Dingo\Api\Contract\Routing\Adapter] is not instantiable."
hi

###  i 'm coding one step by setp on the wiki

[Configuration](https://github.com/dingo/api/wiki/Configuration)
[Authentication](https://github.com/dingo/api/wiki/Authentication)

Authentication Providers
By default only basic authentication is enabled. Authentication is covered in more detail in a later chapter.
You must configure this in a published configuration file or in your bootstrap fi

[2015-07-11 21:25] lookapanda commented on #514
I'm getting this too. Help pls.

[2015-07-12 06:15] prapats opened #515 "The 'api' attribute not found in Dingo\Api\Routing\Helpers"
Hi,

I tried to do an internal request by using:

`$this->api->get('api/test');`

I already added the `use Helpers;` trait, but the following error is shown:

[code]

Please suggest what I am doing here.
Thank you

[2015-07-12 06:21] jasonlewis commented on #515
Ah, the Dispatcher stuff hasn't been added in yet as it came after the
trait. I'll do that shortly.

On Sun, 12 Jul 2015 16:15 Ikq Prapat <notifications@github.com> wrote:

[2015-07-12 06:32] prapats commented on #515
Awesome @jasonlewis

Thanks for your great work :D

[2015-07-12 12:18] olezko46 opened #516 "Problem when creating new endpoint l"
When I'm trying to create new end point and typing  ```$api = $app['Dingo\Api\Routing\Router'];``` in routes.php, I'm  getting error ```#Undefined variable: app```

What I need to do? Sorry for my English...

[2015-07-12 15:06] natsu90 commented on #398
Hey guys, how do I setup jwt-auth?

[2015-07-12 15:07] catalinux commented on #398
@natsu90 : https://github.com/dingo/api/wiki/Authentication

[2015-07-12 15:49] natsu90 commented on #398
Thanks @catalinux but the docs is not clear and I'm using Lumen. Anyway I got it working.

First I've to copy config file from `vendor/dingo/api/config/api.php` to `config/api.php` & `vendor/tymon/jwt-auth/src/config/config.php` to `config/jwt.php`.

Then update `auth` in `config/api.php` to use JWT, https://github.com/dingo/api/wiki/Authentication#json-web-tokens-jwt.

The rest steps following ht

[2015-07-12 21:05] bweston92 commented on #516
You could call app as a function or in the route service provider set $app = $this->app before the include of the routes file.

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 1:18 PM, Oleg Melnik <notifications@github.com>
wrote:

[2015-07-13 14:20] studiomado opened #517 "Unable to boot ApiServiceProvider"
Hello,
I try to start a new Lumen project and I have made this steps:
- php composer.phar require dingo/api "0.9.*@dev"
- add `$app->register(Dingo\Api\Provider\LumenServiceProvider::class);` in bootstrap/app.php
- add `API_PREFIX=api` in .env file

but I have this error:
`lumen.ERROR: exception 'RuntimeException' with message 'Unable to boot ApiServiceProvider, configure an API domain or prefix.'

[2015-07-13 14:39] tonyfunc commented on #514
I am as well getting this error! Can someone please help?

[2015-07-13 14:52] prapats opened #518 "What is the correct way to use paginator when doing an internal request?"
Hi,

I'm now doing an internal request that calls the api route that returns `Paginator`. I found that when I call `{!! $rfqs->render() !!}` in my view,  the generated url in the pagination links to the api routes not the actual route of that page.

So, I have to use the method `setPath()` after I got the `Paginator` object back from the `Dispatcher`, and that makes me to use that method in every

[2015-07-13 21:48] jasonlewis commented on #514
I'll take a look at this today.

On Tue, 14 Jul 2015 00:39 tonyfunc <notifications@github.com> wrote:

[2015-07-13 21:49] jasonlewis commented on #517
Have you uncommented the Dotenv line in the bootstrap file?

On Tue, 14 Jul 2015 00:20 Studio Mado <notifications@github.com> wrote:

[2015-07-14 03:49] tonyfunc commented on #514
I found the solution.

In your app/routes.php, add following followed by your endpoints...

[code]

[2015-07-14 05:35] wind930 commented on #514
@tonyfunc you are right，the author has Responsed here https://github.com/dingo/api/issues/398

[2015-07-14 05:39] lightvision commented on #518
This is the only option :)

[2015-07-14 05:39] MovingGifts opened #519 "Error and Success shortcuts by default?"
I was wondering if it's possible to by default return something like this with Dingo for success/error:

    return $this->response->success('Items was added.');
    return $this->response->error('Items not added.');

   Instead of:

    return $this->response->array(['success' => true, 'message' => 'Items was added.');
    return $this->response->array(['error' => true, 'message' => 'Items not ad

[2015-07-14 05:42] lightvision commented on #487
Thanks, I will keep an eye again since I'm back from holiday :)

[2015-07-14 05:53] lightvision commented on #462
I managed to use FormRequests for validations but I have a different issue here, with **VerifyCsrfToken**.

The api endpoind throws me an `Illuminate \ Session \ TokenMismatchException`.

I've tried to change the session.driver config value from file to array but no avail.

Shouldn't ding/api disable the VerifyCsrfToken middleware for api requests (api routes)?
I know that this will ad some level

[2015-07-14 11:10] riglar commented on #511
Please can someone comment on this? I'm still confused by what is going on here.

Thanks,
Tom

[2015-07-14 11:20] jasonlewis commented on #511
I'll update the docs. It's older Laravel 4 stuff where the application instance was available in the routes file. Use the `app` function like you are now.

Either of these methods is fine:

[code]

[2015-07-14 11:20] #511 closed

[2015-07-14 11:22] riglar commented on #511
Ah, I see. Never used L4. Thanks Jason.

[2015-07-14 11:25] jasonlewis commented on #519
You could add something like this to your own base controller.

[code]

And the same for an error.

[2015-07-14 11:25] #519 closed

[2015-07-14 11:27] jasonlewis commented on #518
Yeah I'm afraid that's going to be your only option. You could create a class or method that does it for you so you're not copying and pasting the same code in all your methods.

[2015-07-14 11:27] #518 closed

[2015-07-14 11:28] jasonlewis commented on #516
The documentation on this was outdated (was still stuck in L4 days, so many moons ago). You'll need to use the `app` helper function instead. I've updated the docs.

[code]

[2015-07-14 11:28] #516 closed

[2015-07-14 11:31] jasonlewis commented on #515
Just added it in now. Cheers.

[2015-07-14 11:31] #515 closed

[2015-07-14 11:34] jasonlewis commented on #514
Sorry, I should probably clarify the documentation a bit here. If you're using Laravel 5 you should do it in the configuration file. If you wanted to do it in a bootstrap file in Laravel you'd need to create a service provider and do it there in the `boot` method.

If you're using Lumen you can use the `bootstrap/app.php` file.

I'll clarify the documentation on this as I can see how it can be mis

[2015-07-14 11:34] #514 closed

[2015-07-14 11:41] jasonlewis commented on #510
That alias was a facade. I'll most likely be adding facades back at some point in time but I'm not sure if it's all going to be under the `API` facade or if I'm going to have `API\Auth` and so on. Still something I'm thinking about.

@MovingGifts I'm not sure what you mean exactly. If your controllers use the trait you have access to it. Otherwise, you can use `app('Dingo\Api\Auth\Auth')->user()`

[2015-07-14 11:42] jasonlewis commented on #513
You'd probably need to keep a running record of tokens assigned to a user and expire them if they're old or inactive.

Doesn't seem specific to this package. Going to close.

[2015-07-14 11:42] #513 closed

[2015-07-14 11:43] jasonlewis commented on #512
Hopefully the documentation covers all this for you. I'm a bit unsure on what you mean by also protecting by the `user_id`, care to elaborate?

[2015-07-14 11:46] jasonlewis opened #520 "Implement Custom Class For Current Route/Request"
After dispatching an internal request the `currentRouteName` and other such methods return incorrect values. As it stands with the adapter implementation it's not possible, without reflection, to replace the current route instance on the Laravel router.

I'll most likely need to implement a class or some methods on the API router that let's you grab all the current route and request details.

This

[2015-07-14 11:47] jasonlewis commented on #487
I've created issue #520 so I can properly keep track of it.

[2015-07-14 11:47] #487 closed

[2015-07-14 12:36] tymondesigns commented on #512
The user id exists within the subject claim of the token. This is what's then used to retrieve the authenticated user, accessible via `$this->user()` from the Helpers trait

[2015-07-15 02:59] joselfonseca commented on #463
Hey @jasonlewis i just installed in a fresh laravel installation along with other packages that has views. Everything seems to be ok.

- Redirect responses from the original app works
- Api Endpoints work as expected.

My issue is solved, Thanks!

[2015-07-15 03:00] joselfonseca commented on #463
@jasonlewis Not sure if we should wait for others to reply or if this can be close. I will leave it up to you. Thanks again!

[2015-07-15 13:18] tomvo opened #521 "Testing and route includes"
Here a small heads-up, I seem to be able to call api routes from tests using the following code:

        $this->actingAs($user)
            ->get('/api/users')
             ->seeJson([...]);

However, I'm also including the routes on the fly from different files using:

[code]
That last part doesn't seem to work, it only works on the first request. I guess it has to do with internal caching of th

[2015-07-15 21:43] mrgodhani opened #522 "Laravel 5 Controller not found"
When using this code I get reflection error Controller now found. Any idea how to resolve this issue ? I am using Laravel 5.1. All the code below is under routes.php

[code]

[2015-07-15 21:52] jasonlewis commented on #522
Is `HelloController` namespaced? You'll need to provide the full namespace name to the controller.

[2015-07-15 21:52] jasonlewis commented on #521
So the including of the files doesn't work but you can still call the route?

[2015-07-15 22:23] mrgodhani commented on #522
HelloController has default namespace with namespace App\Http\Controllers . I tried adding the whole namespace too but doesnt work.

[2015-07-15 22:24] mrgodhani commented on #522
Same goes to custom created namespace extending base controller

[2015-07-15 22:29] jasonlewis commented on #522
So the following isn't working for you?

[code]

[2015-07-15 22:32] mrgodhani commented on #522
Nope

[2015-07-15 22:32] mrgodhani commented on #522
Gives 404

[2015-07-15 22:36] jasonlewis commented on #522
If it's giving you a 404 then you're not hitting the right URL, as if you've set it up as I've shown above and your namespacing is all correct then it'll work fine.

If you've setup the package to use a prefix of `api` then the URL will be `your.app/api/hello`.

[2015-07-15 22:46] mrgodhani commented on #522
How come than I get reflection error sayimg controller class does not exist when doing php artisan?

[2015-07-15 22:47] mrgodhani commented on #522
Git gives 404 when accessing route but doing php artisan just says controller class does not exist and as reflection error

[2015-07-15 22:49] jasonlewis commented on #522
You've most likely got something mis-configured. I just fired up a fresh Laravel 5.1 install with the package that's using a controller in the default namespace and it works fine. I can see the correct response at `/api/hello` and using `php artisan api:routes` lists it correctly.

Make sure you double and triple check the spelling on everything. Make sure your namespace for your controller is cor

[2015-07-15 22:52] mrgodhani commented on #522
Ok I will give it a try again.

[2015-07-15 23:30] mrgodhani commented on #522
It works. But I think it's not detecting API_PREFIX=api from .env .

[2015-07-15 23:36] mrgodhani commented on #522
Now getting this error ""Class App\\User does not exist" I have set namespace too Custom\\User

[2015-07-16 01:05] wind930 commented on #522
hi @mrgodhani
[code]
You should set up the full path of the controller or set the namespace

[2015-07-16 05:31] tomvo commented on #521
sorry about being unclear, It does *not* work when I include the files, it *does* work when I put them all in ones `routes.php` file.

[2015-07-16 18:23] #522 closed

[2015-07-16 18:59] mrgodhani opened #523 "API Documentation not rendering properly"
Hi Documentation isn't rendering properly. Following below is an example of function.

[code]

And in documentation.md instead of getting ```[POST /user/create]``` I am getting ```[POST /usercreate]```. Am I doing it wrong ? or how to resolve this issue. Also is there any way to return custom success resource?

Thank you.